In [9]:
using ODBC
using DataFrames
using DSWB
using Formatting

dsn = "dswb-natgeo" # Redshift esetTable(tableRt, tableType = "RESOURCE_TABLE")ndpoint
table = "beacons_4744" # beacon table name
tableRt = "beacons_4744_rt"

# Connect to Beacon Data
setRedshiftEndpoint(dsn)
setTable(tableRt, tableType = "RESOURCE_TABLE")
setTable(table)

Redshift endpoint set: 2017-07-29T22:39:29

"beacons_4744"

In [10]:
# Packages
include("/data/notebook_home/Production/Lib/Include-Package-v1.1.jl")
include("/data/notebook_home/Production/Bodies/AEM-Large-Images-Body-v1.1.jl")

# Time values (tv.) structure created in include above, so init time here
#timeVariables(2017,1,2,2,30,2017,1,2,2,45);
timeVariables(2017,7,25,9,0,2017,7,25,16,59);
#weeklyTimeVariables(days=1);

July 25, 2017 09:00:00 to July 25, 2017 16:59:00 Local Time
July 25, 2017 13:00:00 to July 25, 2017 20:59:00 UTC Time

In [11]:
UP = UrlParamsInit()
UP.btView = "$(table)_AEM_Large_Images_view" #localtable
UP.pageGroup = "%"   #productPageGroup
UP.urlRegEx = "%"   #localUrl
UP.deviceType = "%"
#UrlParamsPrint(UP)

SG = SoastaGraphsInit()

SP = ShowParamsInit()
#SP.debugLevel = 10
SP.showLines = 300

;

In [12]:
#defaultLocalTableALI(tv,UP)
defaultBeaconView(tv,UP,SP)
;

Low=1000 High=600000

In [13]:
joinTables = DataFrame()
joinTables = gatherSizeDataALI(UP,LV)
;

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">urlgroup</th> <th class=\"cell-2\" style=\"\">session id</th> <th class=\"cell-3\" style=\"\">timestamp</th> <th class=\"cell-4\" style=\"\">encoded</th> <th class=\"cell-5\" style=\"\">transferred</th> <th class=\"cell-6\" style=\"\">decoded</th> <th class=\"cell-7\" style=\"\">count</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">http://kids.nationalgeographic.com/animals/narwhal</td> <td class=\"cell-2\" style=\"\">8006da02-3acb-445a-ac07-58636c106d36-otnimh</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-07-25T15:06:53.947</td> <td class=\"cell-4\" style=\"text-align:right;\">328,347,510</td> <td class=\"cell-5\" style=\"text-align:right;\">327,528,818</td> <td class=\"cell-6\" style=\"text-align:right;\">2,395,563</td> <td class=\"cell-7\" style=\"text-align:right;\">110</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://kids.nationalgeographic.com/animals/narwhal</td> <td class=\"cell-2\" style=\"\">f97c0544-8a7d-424a-89ca-72ee76740955-otnjck</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-07-25T15:18:50.750</td> <td class=\"cell-4\" style=\"text-align:right;\">326,883,596</td> <td class=\"cell-5\" style=\"text-align:right;\">326,851,214</td> <td class=\"cell-6\" style=\"text-align:right;\">91,062</td> <td class=\"cell-7\" style=\"text-align:right;\">15</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://kids.nationalgeographic.com/animals/narwhal</td> <td class=\"cell-2\" style=\"\">8b30e105-89a8-4ec1-855d-c33e4c1bfb19-otnths</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-07-25T18:49:11.635</td> <td class=\"cell-4\" style=\"text-align:right;\">326,498,798</td> <td class=\"cell-5\" style=\"text-align:right;\">326,499,248</td> <td class=\"cell-6\" style=\"\"></td> <td class=\"cell-7\" style=\"text-align:right;\">1</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/travel/features/best-trips-2017</td> <td class=\"cell-2\" style=\"\">4ce79315-4373-4a96-b603-23aee98a6a57-otnibv</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-07-25T14:46:06.85</td> <td class=\"cell-4\" style=\"text-align:right;\">85,798,080</td> <td class=\"cell-5\" style=\"text-align:right;\">85,688,726</td> <td class=\"cell-6\" style=\"text-align:right;\">3,576,474</td> <td class=\"cell-7\" style=\"text-align:right;\">112</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/travel/features/best-trips-2017</td> <td class=\"cell-2\" style=\"\">fbe40c13-a1ae-4358-8c6a-58c39e110777-otnm91</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-07-25T16:10:33.618</td> <td class=\"cell-4\" style=\"text-align:right;\">85,746,699</td> <td class=\"cell-5\" style=\"text-align:right;\">85,653,206</td> <td class=\"cell-6\" style=\"text-align:right;\">3,418,685</td> <td class=\"cell-7\" style=\"text-align:right;\">106</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/travel/features/best-trips-2017</td> <td class=\"cell-2\" style=\"\">04c4df27-2399-42dc-a77b-52f4703a83ee-otnf0w</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-07-25T13:35:02.140</td> <td class=\"cell-4\" style=\"text-align:right;\">85,720,090</td> <td class=\"cell-5\" style=\"text-align:right;\">85,759,760</td> <td class=\"cell-6\" style=\"text-align:right;\">3,350,581</td> <td class=\"cell-7\" style=\"text-align:right;\">104</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/travel/features/best-trips-2017</td> <td class=\"cell-2\" style=\"\">3fd319e9-66d5-4a6c-a372-7f9ceab3b00f-otnsna</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-07-25T18:26:14.897</td> <td class=\"cell-4\" style=\"text-align:right;\">85,662,878</td> <td class=\"cell-5\" style=\"text-align:right;\">85,601,255</td> <td class=\"cell-6\" style=\"text-align:right;\">3,198,366</td> <td class=\"cell-7\" style=\"text-align:right;\">96</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/travel/features/best-trips-2017</td> <td class=\"cell-2\" style=\"\">31c4ecad-2d79-472e-bb5e-fcf64171163f-otnqlc</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-07-25T17:43:14.759</td> <td class=\"cell-4\" style=\"text-align:right;\">85,011,382</td> <td class=\"cell-5\" style=\"text-align:right;\">84,969,976</td> <td class=\"cell-6\" style=\"text-align:right;\">3,481,953</td> <td class=\"cell-7\" style=\"text-align:right;\">105</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/travel/features/best-trips-2017</td> <td class=\"cell-2\" style=\"\">41f2ba02-0f8f-496d-a177-137d8981957f-otnlvy</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-07-25T16:18:18.257</td> <td class=\"cell-4\" style=\"text-align:right;\">83,959,716</td> <td class=\"cell-5\" style=\"text-align:right;\">81,107,695</td> <td class=\"cell-6\" style=\"text-align:right;\">3,605,167</td> <td class=\"cell-7\" style=\"text-align:right;\">102</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/travel/lists/19-places-to-indulge-luxury-travel</td> <td class=\"cell-2\" style=\"\">17a7e727-0726-40ac-8c10-d4ec75c4823f-otne08</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-07-25T13:19:27.807</td> <td class=\"cell-4\" style=\"text-align:right;\">74,493,084</td> <td class=\"cell-5\" style=\"text-align:right;\">171,982</td> <td class=\"cell-6\" style=\"text-align:right;\">3,695,629</td> <td class=\"cell-7\" style=\"text-align:right;\">77</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/travel/features/best-trips-2017</td> <td class=\"cell-2\" style=\"\">c3d2afa4-18c8-443f-a518-495d8355ab19-otnxb1</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-07-25T20:10:01.875</td> <td class=\"cell-4\" style=\"text-align:right;\">70,559,996</td> <td class=\"cell-5\" style=\"text-align:right;\">70,458,236</td> <td class=\"cell-6\" style=\"text-align:right;\">3,360,279</td> <td class=\"cell-7\" style=\"text-align:right;\">104</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/travel/features/best-trips-2017</td> <td class=\"cell-2\" style=\"\">91729228-6556-4e00-8b3b-e2f27f431ecd-otnuvq</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-07-25T19:18:57.470</td> <td class=\"cell-4\" style=\"text-align:right;\">70,288,131</td> <td class=\"cell-5\" style=\"text-align:right;\">70,320,333</td> <td class=\"cell-6\" style=\"text-align:right;\">2,572,488</td> <td class=\"cell-7\" style=\"text-align:right;\">91</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/photography/proof/2017/06/hummingbirds-slow-motion-flight-videos</td> <td class=\"cell-2\" style=\"\">df72062b-950c-4b8f-a73a-de8ea6180de5-otnr61</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-07-25T17:56:55.476</td> <td class=\"cell-4\" style=\"text-align:right;\">61,092,258</td> <td class=\"cell-5\" style=\"text-align:right;\">61,944,515</td> <td class=\"cell-6\" style=\"text-align:right;\">2,957,515</td> <td class=\"cell-7\" style=\"text-align:right;\">35</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/travel/features/best-trips-2017</td> <td class=\"cell-2\" style=\"\">616910ec-77c0-4be9-ad2b-62efee04eefc-otnwec</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-07-25T19:57:25.260</td> <td class=\"cell-4\" style=\"text-align:right;\">57,606,609</td> <td class=\"cell-5\" style=\"text-align:right;\">54,747,014</td> <td class=\"cell-6\" style=\"text-align:right;\">3,669,640</td> <td class=\"cell-7\" style=\"text-align:right;\">108</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/photography/proof/2017/06/hummingbirds-slow-motion-flight-videos</td> <td class=\"cell-2\" style=\"\">9d92a3a8-dacb-46a4-b934-3725ec196775-otnjz9</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-07-25T15:45:08.416</td> <td class=\"cell-4\" style=\"text-align:right;\">52,566,836</td> <td class=\"cell-5\" style=\"text-align:right;\">52,801,889</td> <td class=\"cell-6\" style=\"text-align:right;\">3,136,530</td> <td class=\"cell-7\" style=\"text-align:right;\">39</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/travel/features/best-trips-2017</td> <td class=\"cell-2\" style=\"\">41f2ba02-0f8f-496d-a177-137d8981957f-otnlvy</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-07-25T16:24:28.235</td> <td class=\"cell-4\" style=\"text-align:right;\">50,098,636</td> <td class=\"cell-5\" style=\"text-align:right;\">11,948,853</td> <td class=\"cell-6\" style=\"text-align:right;\">3,359,496</td> <td class=\"cell-7\" style=\"text-align:right;\">100</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://channel.nationalgeographic.com/genius/interactives/genius-thought-experiment</td> <td class=\"cell-2\" style=\"\">48b652e3-6d48-4c71-b4fc-9ec72e70fbd9-otnsw8</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-07-25T18:33:54.810</td> <td class=\"cell-4\" style=\"text-align:right;\">49,523,792</td> <td class=\"cell-5\" style=\"text-align:right;\">49,581,063</td> <td class=\"cell-6\" style=\"text-align:right;\">2,314,032</td> <td class=\"cell-7\" style=\"text-align:right;\">154</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/travel/lists/19-places-to-indulge-luxury-travel</td> <td class=\"cell-2\" style=\"\">8690e748-9e49-4c4a-b622-abb54c5ac70f-otnxt9</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-07-25T20:22:37.251</td> <td class=\"cell-4\" style=\"text-align:right;\">48,649,003</td> <td class=\"cell-5\" style=\"text-align:right;\">48,257,705</td> <td class=\"cell-6\" style=\"text-align:right;\">4,531,375</td> <td class=\"cell-7\" style=\"text-align:right;\">96</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/travel/lists/19-places-to-indulge-luxury-travel</td> <td class=\"cell-2\" style=\"\">5865f0b1-b23a-4ab2-98c9-0ae29b8fa5e7-otnosc</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-07-25T17:08:48.789</td> <td class=\"cell-4\" style=\"text-align:right;\">47,084,231</td> <td class=\"cell-5\" style=\"text-align:right;\">46,236,135</td> <td class=\"cell-6\" style=\"text-align:right;\">3,875,567</td> <td class=\"cell-7\" style=\"text-align:right;\">68</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/travel/lists/19-places-to-indulge-luxury-travel</td> <td class=\"cell-2\" style=\"\">bfda9ad7-d8d5-43e3-904b-49a3656769f1-otnj9a</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-07-25T15:07:21.180</td> <td class=\"cell-4\" style=\"text-align:right;\">46,956,940</td> <td class=\"cell-5\" style=\"text-align:right;\">92,424,549</td> <td class=\"cell-6\" style=\"text-align:right;\">3,571,765</td> <td class=\"cell-7\" style=\"text-align:right;\">74</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/travel/lists/19-places-to-indulge-luxury-travel</td> <td class=\"cell-2\" style=\"\">17a7e727-0726-40ac-8c10-d4ec75c4823f-otne08</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-07-25T13:13:49.901</td> <td class=\"cell-4\" style=\"text-align:right;\">46,949,022</td> <td class=\"cell-5\" style=\"text-align:right;\">46,215,839</td> <td class=\"cell-6\" style=\"text-align:right;\">3,503,443</td> <td class=\"cell-7\" style=\"text-align:right;\">60</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/travel/lists/19-places-to-indulge-luxury-travel</td> <td class=\"cell-2\" style=\"\">7d9eb672-3b86-4329-8dd3-a5ef348c1b98-otnpqd</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-07-25T17:26:11.819</td> <td class=\"cell-4\" style=\"text-align:right;\">46,891,327</td> <td class=\"cell-5\" style=\"text-align:right;\">41,426,350</td> <td class=\"cell-6\" style=\"text-align:right;\">3,274,764</td> <td class=\"cell-7\" style=\"text-align:right;\">60</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/travel/lists/19-places-to-indulge-luxury-travel</td> <td class=\"cell-2\" style=\"\">63afb093-5e71-49a9-8e60-c45ea9a26812-otnobh</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-07-25T16:55:43.628</td> <td class=\"cell-4\" style=\"text-align:right;\">46,875,961</td> <td class=\"cell-5\" style=\"text-align:right;\">46,850,955</td> <td class=\"cell-6\" style=\"text-align:right;\">3,302,121</td> <td class=\"cell-7\" style=\"text-align:right;\">55</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/travel/lists/19-places-to-indulge-luxury-travel</td> <td class=\"cell-2\" style=\"\">8e447c1a-c9e9-48c5-9ba4-198cabb4873c-otnxxt</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-07-25T20:22:59.921</td> <td class=\"cell-4\" style=\"text-align:right;\">46,858,136</td> <td class=\"cell-5\" style=\"text-align:right;\">46,882,798</td> <td class=\"cell-6\" style=\"text-align:right;\">3,241,444</td> <td class=\"cell-7\" style=\"text-align:right;\">52</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://channel.nationalgeographic.com/genius/interactives/genius-thought-experiment</td> <td class=\"cell-2\" style=\"\">a564ec17-f173-49c4-9d3f-cc9e4469c1bf-otnjrv</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-07-25T15:39:26.236</td> <td class=\"cell-4\" style=\"text-align:right;\">42,917,933</td> <td class=\"cell-5\" style=\"text-align:right;\">42,831,774</td> <td class=\"cell-6\" style=\"text-align:right;\">2,314,032</td> <td class=\"cell-7\" style=\"text-align:right;\">146</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/photography/proof/2017/06/hummingbirds-slow-motion-flight-videos</td> <td class=\"cell-2\" style=\"\">9cdb1d6f-7219-4b40-bb1d-97d4a8141f55-otnkd8</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-07-25T15:29:39.664</td> <td class=\"cell-4\" style=\"text-align:right;\">40,268,053</td> <td class=\"cell-5\" style=\"text-align:right;\">40,111,837</td> <td class=\"cell-6\" style=\"text-align:right;\">3,230,487</td> <td class=\"cell-7\" style=\"text-align:right;\">41</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/countryman</td> <td class=\"cell-2\" style=\"\">0b952f0a-c885-4596-aba2-f6437336b9b6-otnof1</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-07-25T16:57:40.549</td> <td class=\"cell-4\" style=\"text-align:right;\">39,921,795</td> <td class=\"cell-5\" style=\"text-align:right;\">3,340,074</td> <td class=\"cell-6\" style=\"text-align:right;\">1,308,696</td> <td class=\"cell-7\" style=\"text-align:right;\">76</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/countryman</td> <td class=\"cell-2\" style=\"\">0b952f0a-c885-4596-aba2-f6437336b9b6-otnof1</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-07-25T16:57:40.717</td> <td class=\"cell-4\" style=\"text-align:right;\">39,921,722</td> <td class=\"cell-5\" style=\"text-align:right;\">14,759,208</td> <td class=\"cell-6\" style=\"text-align:right;\">1,308,580</td> <td class=\"cell-7\" style=\"text-align:right;\">76</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/photography/proof/2017/06/hummingbirds-slow-motion-flight-videos</td> <td class=\"cell-2\" style=\"\">c20e6736-7a2f-4a6a-930b-747d55e7988b-otnhpm</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-07-25T14:45:46.926</td> <td class=\"cell-4\" style=\"text-align:right;\">39,635,191</td> <td class=\"cell-5\" style=\"text-align:right;\">42,465,274</td> <td class=\"cell-6\" style=\"text-align:right;\">3,137,450</td> <td class=\"cell-7\" style=\"text-align:right;\">40</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/photography/proof/2017/06/hummingbirds-slow-motion-flight-videos</td> <td class=\"cell-2\" style=\"\">25ea2014-22f3-4fe5-a289-6c80a56f1a38-otnhrj</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-07-25T14:33:33.951</td> <td class=\"cell-4\" style=\"text-align:right;\">37,153,625</td> <td class=\"cell-5\" style=\"text-align:right;\">37,209,976</td> <td class=\"cell-6\" style=\"text-align:right;\">323,616</td> <td class=\"cell-7\" style=\"text-align:right;\">42</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/photography/proof/2017/06/hummingbirds-slow-motion-flight-videos</td> <td class=\"cell-2\" style=\"\">577a21f8-62b6-451f-bdb8-920b95dad0c7-otnl3h</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-07-25T15:46:26.941</td> <td class=\"cell-4\" style=\"text-align:right;\">36,961,414</td> <td class=\"cell-5\" style=\"text-align:right;\">40,375,293</td> <td class=\"cell-6\" style=\"text-align:right;\">3,231,201</td> <td class=\"cell-7\" style=\"text-align:right;\">41</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/photography/proof/2017/06/hummingbirds-slow-motion-flight-videos</td> <td class=\"cell-2\" style=\"\">92417d88-976d-45c2-b0f6-2bb8bc82f551-otnfu9</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-07-25T14:02:51.290</td> <td class=\"cell-4\" style=\"text-align:right;\">36,152,193</td> <td class=\"cell-5\" style=\"text-align:right;\">36,549,915</td> <td class=\"cell-6\" style=\"text-align:right;\">3,000,726</td> <td class=\"cell-7\" style=\"text-align:right;\">27</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/photography/proof/2017/06/hummingbirds-slow-motion-flight-videos</td> <td class=\"cell-2\" style=\"\">5af8b43b-e653-4c20-ac50-fb3fd9bce6f7-otngut</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-07-25T14:13:54.58</td> <td class=\"cell-4\" style=\"text-align:right;\">34,934,833</td> <td class=\"cell-5\" style=\"text-align:right;\">34,871,411</td> <td class=\"cell-6\" style=\"text-align:right;\">3,000,726</td> <td class=\"cell-7\" style=\"text-align:right;\">33</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/countryman</td> <td class=\"cell-2\" style=\"\">e4e93d25-1ed7-403b-b140-30a6f7e85964-otnr2w</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-07-25T17:52:58.862</td> <td class=\"cell-4\" style=\"text-align:right;\">34,931,699</td> <td class=\"cell-5\" style=\"text-align:right;\">34,792,365</td> <td class=\"cell-6\" style=\"text-align:right;\">1,345,045</td> <td class=\"cell-7\" style=\"text-align:right;\">63</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/travel/features/best-trips-2017</td> <td class=\"cell-2\" style=\"\">dc0c16eb-1d46-4e2a-bff7-cad71cfeb9f4-otnp90</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-07-25T17:15:45.577</td> <td class=\"cell-4\" style=\"text-align:right;\">33,750,520</td> <td class=\"cell-5\" style=\"text-align:right;\">33,533,827</td> <td class=\"cell-6\" style=\"text-align:right;\">3,521,870</td> <td class=\"cell-7\" style=\"text-align:right;\">104</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/travel/features/best-trips-2017</td> <td class=\"cell-2\" style=\"\">dc0c16eb-1d46-4e2a-bff7-cad71cfeb9f4-otnp90</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-07-25T17:39:56.278</td> <td class=\"cell-4\" style=\"text-align:right;\">33,698,380</td> <td class=\"cell-5\" style=\"text-align:right;\">131,984</td> <td class=\"cell-6\" style=\"text-align:right;\">3,369,837</td> <td class=\"cell-7\" style=\"text-align:right;\">102</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://phenomena.nationalgeographic.com/2016/06/08/how-to-read-an-aeronautical-chart</td> <td class=\"cell-2\" style=\"\">43d54539-2f63-4e89-9aa0-fe62d01a33f3-otnwmi</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-07-25T19:54:41.789</td> <td class=\"cell-4\" style=\"text-align:right;\">33,131,737</td> <td class=\"cell-5\" style=\"text-align:right;\">33,119,468</td> <td class=\"cell-6\" style=\"tex

In [14]:
joinTableSummary = DataFrame()
joinTableSummary = tableSummaryALI(joinTables,LV)
;

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">urlgroup</th> <th class=\"cell-2\" style=\"\">encoded</th> <th class=\"cell-3\" style=\"\">transferred</th> <th class=\"cell-4\" style=\"\">decoded</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">http://kids.nationalgeographic.com/animals/narwhal</td> <td class=\"cell-2\" style=\"text-align:right;\">328,347,510</td> <td class=\"cell-3\" style=\"text-align:right;\">327,528,818</td> <td class=\"cell-4\" style=\"text-align:right;\">2,395,563</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/travel/features/best-trips-2017</td> <td class=\"cell-2\" style=\"text-align:right;\">85,798,080</td> <td class=\"cell-3\" style=\"text-align:right;\">85,688,726</td> <td class=\"cell-4\" style=\"text-align:right;\">3,576,474</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/travel/lists/19-places-to-indulge-luxury-travel</td> <td class=\"cell-2\" style=\"text-align:right;\">74,493,084</td> <td class=\"cell-3\" style=\"text-align:right;\">171,982</td> <td class=\"cell-4\" style=\"text-align:right;\">3,695,629</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/photography/proof/2017/06/hummingbirds-slow-motion-flight-videos</td> <td class=\"cell-2\" style=\"text-align:right;\">61,092,258</td> <td class=\"cell-3\" style=\"text-align:right;\">61,944,515</td> <td class=\"cell-4\" style=\"text-align:right;\">2,957,515</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://channel.nationalgeographic.com/genius/interactives/genius-thought-experiment</td> <td class=\"cell-2\" style=\"text-align:right;\">49,523,792</td> <td class=\"cell-3\" style=\"text-align:right;\">49,581,063</td> <td class=\"cell-4\" style=\"text-align:right;\">2,314,032</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/countryman</td> <td class=\"cell-2\" style=\"text-align:right;\">39,921,795</td> <td class=\"cell-3\" style=\"text-align:right;\">3,340,074</td> <td class=\"cell-4\" style=\"text-align:right;\">1,308,696</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://phenomena.nationalgeographic.com/2016/06/08/how-to-read-an-aeronautical-chart</td> <td class=\"cell-2\" style=\"text-align:right;\">33,131,737</td> <td class=\"cell-3\" style=\"text-align:right;\">33,119,468</td> <td class=\"cell-4\" style=\"text-align:right;\">671,134</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/magazine/2017/03/vikings-ships-realm-raiders-scandinavian</td> <td class=\"cell-2\" style=\"text-align:right;\">32,768,955</td> <td class=\"cell-3\" style=\"text-align:right;\">23,534,606</td> <td class=\"cell-4\" style=\"text-align:right;\">3,259,937</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/travel/destinations/europe/ireland/12-perfect-moments-places-destinations</td> <td class=\"cell-2\" style=\"text-align:right;\">30,991,445</td> <td class=\"cell-3\" style=\"text-align:right;\">28,148,641</td> <td class=\"cell-4\" style=\"text-align:right;\">3,252,471</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/travel/destinations/europe/united-kingdom/scotland/12-reasons-to-go-scotland-now</td> <td class=\"cell-2\" style=\"text-align:right;\">30,909,155</td> <td class=\"cell-3\" style=\"text-align:right;\">30,425,346</td> <td class=\"cell-4\" style=\"text-align:right;\">3,647,961</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/magazine/2017/06/nodosaur-3d-interactive-dinosaur-fossil</td> <td class=\"cell-2\" style=\"text-align:right;\">29,791,795</td> <td class=\"cell-3\" style=\"text-align:right;\">27,653,411</td> <td class=\"cell-4\" style=\"text-align:right;\">103,302</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/magazine/2017/01/children-explain-how-gender-affects-their-lives</td> <td class=\"cell-2\" style=\"text-align:right;\">29,698,923</td> <td class=\"cell-3\" style=\"text-align:right;\">29,677,877</td> <td class=\"cell-4\" style=\"text-align:right;\">269,601</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://proof.nationalgeographic.com/2013/11/21/remembering-a-compassionate-war-photographer</td> <td class=\"cell-2\" style=\"text-align:right;\">29,593,607</td> <td class=\"cell-3\" style=\"text-align:right;\">29,372,774</td> <td class=\"cell-4\" style=\"text-align:right;\">1,470,315</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/foodfeatures/aquaculture</td> <td class=\"cell-2\" style=\"text-align:right;\">29,145,209</td> <td class=\"cell-3\" style=\"text-align:right;\">29,004,280</td> <td class=\"cell-4\" style=\"text-align:right;\">2,153,856</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/travel/features/around-the-world-in-24-hours</td> <td class=\"cell-2\" style=\"text-align:right;\">27,433,744</td> <td class=\"cell-3\" style=\"text-align:right;\">26,823,348</td> <td class=\"cell-4\" style=\"text-align:right;\">3,341,447</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/magazine/2016/05/yellowstone-national-parks-supervolcano-animation</td> <td class=\"cell-2\" style=\"text-align:right;\">24,319,820</td> <td class=\"cell-3\" style=\"text-align:right;\">24,276,380</td> <td class=\"cell-4\" style=\"text-align:right;\">3,437,571</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/travel/features/12-books-read-around-world</td> <td class=\"cell-2\" style=\"text-align:right;\">24,208,439</td> <td class=\"cell-3\" style=\"text-align:right;\">21,778,034</td> <td class=\"cell-4\" style=\"text-align:right;\">3,347,775</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://proof.nationalgeographic.com/2015/02/24/howd-he-do-that-a-technical-breakdown-of-the-perfect-shot</td> <td class=\"cell-2\" style=\"text-align:right;\">23,723,706</td> <td class=\"cell-3\" style=\"text-align:right;\">23,617,604</td> <td class=\"cell-4\" style=\"text-align:right;\">1,671,503</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://theplate.nationalgeographic.com/2016/03/11/end-food-waste-make-art-ten-uglyfoodisbeautiful-winners</td> <td class=\"cell-2\" style=\"text-align:right;\">22,641,448</td> <td class=\"cell-3\" style=\"text-align:right;\">22,398,528</td> <td class=\"cell-4\" style=\"text-align:right;\">1,561,638</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://proof.nationalgeographic.com/2014/05/12/musings-carleton-watkinss-mammoth-vision-of-yosemite</td> <td class=\"cell-2\" style=\"text-align:right;\">22,365,563</td> <td class=\"cell-3\" style=\"text-align:right;\">19,312,788</td> <td class=\"cell-4\" style=\"text-align:right;\">1,111,019</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://proof.nationalgeographic.com/2015/06/05/a-beloved-beach-house-and-a-lesson-in-letting-go</td> <td class=\"cell-2\" style=\"text-align:right;\">20,029,582</td> <td class=\"cell-3\" style=\"text-align:right;\">18,102,669</td> <td class=\"cell-4\" style=\"text-align:right;\">1,465,382</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://proof.nationalgeographic.com/2014/02/27/ami-vitale-the-last-of-the-northern-white-rhinos</td> <td class=\"cell-2\" style=\"text-align:right;\">19,320,030</td> <td class=\"cell-3\" style=\"text-align:right;\">16,012,858</td> <td class=\"cell-4\" style=\"text-align:right;\">1,122,944</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/magazine/2016/10/europe-immigration-muslim-refugees-portraits</td> <td class=\"cell-2\" style=\"text-align:right;\">18,744,613</td> <td class=\"cell-3\" style=\"text-align:right;\">11,660,309</td> <td class=\"cell-4\" style=\"text-align:right;\">3,528,087</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://proof.nationalgeographic.com/2014/01/06/russians-adapt-to-a-freezing-dark-and-polluted-place</td> <td class=\"cell-2\" style=\"text-align:right;\">18,521,257</td> <td class=\"cell-3\" style=\"text-align:right;\">16,134,044</td> <td class=\"cell-4\" style=\"text-align:right;\">1,000,022</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/magazine/2017/05/akhenaten-revolutionary-egypt-king-art-architecture</td> <td class=\"cell-2\" style=\"text-align:right;\">18,400,382</td> <td class=\"cell-3\" style=\"text-align:right;\">18,329,449</td> <td class=\"cell-4\" style=\"text-align:right;\">3,280,889</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://proof.nationalgeographic.com/2015/07/03/cactus-flowers-mother-natures-fireworks</td> <td class=\"cell-2\" style=\"text-align:right;\">18,185,353</td> <td class=\"cell-3\" style=\"text-align:right;\">18,190,515</td> <td class=\"cell-4\" style=\"text-align:right;\">1,083,155</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/astrobiology/distant-oasis</td> <td class=\"cell-2\" style=\"text-align:right;\">17,722,826</td> <td class=\"cell-3\" style=\"text-align:right;\">17,268,749</td> <td class=\"cell-4\" style=\"text-align:right;\">1,273,788</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://proof.nationalgeographic.com/2015/05/29/the-fearless-gaze-of-mary-ellen-mark-a-friend-remembered</td> <td class=\"cell-2\" style=\"text-align:right;\">16,560,941</td> <td class=\"cell-3\" style=\"text-align:right;\">12,686,809</td> <td class=\"cell-4\" style=\"text-align:right;\">1,092,737</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/foodfeatures/feeding-9-billion</td> <td class=\"cell-2\" style=\"text-align:right;\">16,386,698</td> <td class=\"cell-3\" style=\"text-align:right;\">16,392,680</td> <td class=\"cell-4\" style=\"text-align:right;\">2,313,231</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://ngm.nationalgeographic.com/2015/12/virgin-mary-text</td> <td class=\"cell-2\" style=\"text-align:right;\">16,187,413</td> <td class=\"cell-3\" style=\"text-align:right;\">15,973,445</td> <td class=\"cell-4\" style=\"text-align:right;\">2,164,089</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://m.yourshot.nationalgeographic.com/profile/1408974</td> <td class=\"cell-2\" style=\"text-align:right;\">15,560,020</td> <td class=\"cell-3\" style=\"text-align:right;\">15,256,140</td> <td class=\"cell-4\" style=\"text-align:right;\">1,001,777</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/china-caves</td> <td class=\"cell-2\" style=\"text-align:right;\">15,526,369</td> <td class=\"cell-3\" style=\"text-align:right;\">15,505,777</td> <td class=\"cell-4\" style=\"text-align:right;\">971,107</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://ngm.nationalgeographic.com/2014/02/il-duomo/domes-interactive</td> <td class=\"cell-2\" style=\"text-align:right;\">15,111,058</td> <td class=\"cell-3\" style=\"text-align:right;\">15,088,606</td> <td class=\"cell-4\" style=\"text-align:right;\">1,786,248</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://kids.nationalgeographic.com/explore/adventure_pass/weird-but-true</td> <td class=\"cell-2\" style=\"text-align:right;\">14,330,486</td> <td class=\"cell-3\" style=\"text-align:right;\">14,337,375</td> <td class=\"cell-4\" style=\"text-align:right;\">142,135</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://proof.nationalgeographic.com/2014/06/04/david-burnetts-enduring-homage-to-d-day-heroes</td> <td class=\"cell-2\" style=\"text-align:right;\">14,302,584</td> <td class=\"cell-3\" style=\"text-align:right;\">9,432,435</td> <td class=\"cell-4\" style=\"text-align:right;\">1,111,380</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://kids.nationalgeographic.com/explore/nature/brontosaurus-makes-a-comeback</td> <td class=\"cell-2\" style=\"text-align:right;\">14,204,658</td> <td class=\"cell-3\" style=\"text-align:right;\">13,463,423</td> <td class=\"cell-4\" style=\"text-align:right;\">1,840,084</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/magazine/2016/06/shark-species-family-tree-ocean-ecosystem-predator</td> <td class=\"cell-2\" style=\"text-align:right;\">14,130,542</td> <td class=\"cell-3\" style=\"text-align:right;\">13,949,390</td> <td class=\"cell-4\" style=\"text-align:right;\">323,774</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://proof.nationalgeographic.com/2015/07/21/ten-nat-geo-images-that-look-incredibly-familiar-heres-why</td> <td class=\"cell-2\" style=\"text-align:right;\">13,991,904</td> <td class=\"cell-3\" style=\"text-align:right;\">7,447,372</td> <td class=\"cell-4\" style=\"text-align:right;\">1,352,946</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://tvblogs.nationalgeographic.com/2014/06/12/whoomp-there-it-is-a-glossary-of-90s-slang</td> <td class=\"cell-2\" style=\"text-align:right;\">13,935,245</td> <td class=\"cell-3\" style=\"text-align:right;\">13,642,900</td> <td class=\"cell-4\" style=\"text-align:right;\">2,076,398</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/science/2016/11/exploring-mars-map-panorama-pictures</td> <td class=\"cell-2\" style=\"text-align:right;\">13,885,982</td> <td class=\"cell-3\" style=\"text-align:right;\">26,499,581</td> <td class=\"cell-4\" style=\"text-align:right;\">3,813,402</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://phenomena.nationalgeographic.com/2015/06/30/what-do-snails-think-about-when-having-sex</td> <td class=\"cell-2\" style=\"text-align:right;\">13,750,098</td> <td class=\"cell-3\" style=\"text-align:right;\">9,129,989</td> <td class=\"cell-4\" style=\"text-align:right;\">1,711,707</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://phenomena.nationalgeographic.com/2016/06/20/heres-why-national-parks-maps-are-some-of-the-best</td> <td class=\"cell-2\" style=\"text-align:right;\">13,641,050</td> <td class=\"cell-3\" style=\"text-align:right;\">7,744,932</td> <td class=\"cell-4\" style=\"text-align:right;\">1,215,229</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/magazine/2017/02/photo-ark-little-cats</td> <td class=\"cell-2\" style=\"text-align:right;\">13,376,641</td> <td class=\"cell-3\" style=\"text-align:right;\">13,298,542</td> <td class=\"cell-4\" style=\"text-align:right;\">272,804</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/magazine/2016/12/healing-science-belief-placebo</td> <td class=\"cell-2\" style=\"text-align:right;\">12,989,960</td> <td class=\"cell-3\" style=\"text-align:right;\">12,602,279</td> <td class=\"cell-4\" style=\"text-align:right;\">4,101,979</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://proof.nationalgeographic.com/2015/05/27/mist-sun-rain-and-snow-capturing-the-mood-swings-of-yoho-national-park</td> <td class=\"cell-2\" style=\"text-align:right;\">12,595,525</td> <td class=\"cell-3\" style=\"text-align:right;\">10,127,446</td> <td class=\"cell-4\" style=\"text-align:right;\">1,567,669</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/microsoft/auroraborealis/gallery-zoom-to-discover.html</td> <td class=\"cell-2\" style=\"text-align:right;\">12,547,219</td> <td class=\"cell-3\" style=\"text-align:right;\">12,028,376</td> <td class=\"cell-4\" style=\"text-align:right;\">1,025,502</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://proof.nationalgeographic.com/2016/02/26/girls-who-escaped-child-marriage-raise-their-cameras-and-their-voices</td> <td class=\"cell-2\" style=\"text-align:right;\">12,385,745</td> <td class=\"cell-3\" style=\"text-align:right;\">12,267,641</td> <td class=\"cell-4\" style=\"text-align:right;\">1,469,828</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://kids.nationalgeographic.com/explore/awesome-8-hub/harry-potter</td> <td class=\"cell-2\" style=\"text-align:right;\">12,361,860</td> <td class=\"cell-3\" style=\"text-align:right;\">12,215,477</td> <td class=\"cell-4\" style=\"text-align:right;\">2,352,622</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://theplate.nationalgeographic.com/2014/07/14/organic-foods-are-tastier-and-healthier-study-finds</td> <td class=\"cell-2\" style=\"text-align:right;\">12,313,781</td> <td class=\"cell-3\" style=\"text-align:right;\">11,816,405</td> <td class=\"cell-4\" style=\"text-align:right;\">2,277,287</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/magazine/2017/04/are-we-evolving-illustrations-stand-alone</td> <td class=\"cell-2\" style=\"text-align:right;\">12,229,259</td> <td class=\"cell-3\" style=\"text-align:right;\">11,519,548</td> <td class=\"cell-4\" style=\"text-align:right;\">3,174,367</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/magazine/2017/07/the-science-of-hummingbirds</td> <td class=\"cell-2\" style=\"text-align:right;\">12,041,138</td> <td class=\"cell-3\" style=\"text-align:right;\">16,771,710</td> <td class=\"cell-4\" style=\"text-align:right;\">3,818,007</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://proof.nationalgeographic.com/2014/06/05/life-in-africa-unfiltered</td> <td class=\"cell-2\" style=\"text-align:right;\">11,931,256</td> <td class=\"cell-3\" style=\"text-align:right;\">11,840,171</td> <td class=\"cell-4\" style=\"text-align:right;\">1,094,564</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://kids.nationalgeographic.com/explore/history/pompeii</td> <td class=\"cell-2\" style=\"text-align:right;\">11,833,191</td> <td class=\"cell-3\" style=\"text-align:right;\">11,706,158</td> <td class=\"cell-4\" style=\"text-align:right;\">2,266,229</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://kids.nationalgeographic.com/explore/history/salem-witch-trials</td> <td class=\"cell-2\" style=\"text-align:right;\">11,714,557</td> <td class=\"cell-3\" style=\"text-align:right;\">10,832,882</td> <td class=\"cell-4\" style=\"text-align:right;\">2,265,235</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/impact-report-2014</td> <td class=\"cell-2\" style=\"text-align:right;\">11,657,506</td> <td class=\"cell-3\" style=\"text-align:right;\">2,155,900</td> <td class=\"cell-4\" style=\"text-align:right;\">998,635</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://kids.nationalgeographic.com/explore/animal-jam</td> <td class=\"cell-2\" style=\"text-align:right;\">11,446,622</td> <td class=\"cell-3\" style=\"text-align:right;\">10,574,330</td> <td class=\"cell-4\" style=\"text-align:right;\">2,255,978</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/foodfeatures/green-revolution</td> <td class=\"cell-2\" style=\"text-align:right;\">11,235,314</td> <td class=\"cell-3\" style=\"text-align:right;\">11,128,256</td> <td class=\"cell-4\" style=\"text-align:right;\">2,532,560</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://news.nationalgeographic.com/2015/04/150409-Everest-climbing-sherpas-mountaineering-Nepal-Himalayas-north-face-new-route</td> <td class=\"cell-2\" style=\"text-align:right;\">11,191,105</td> <td class=\"cell-3\" style=\"text-align:right;\">12,523,623</td> <td class=\"cell-4\" style=\"text-align:right;\">2,782,453</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://proof.nationalgeographic.com/2014/05/21/george-steinmetzs-eye-from-the-sky</td> <td class=\"cell-2\" style=\"text-align:right;\">11,160,863</td> <td class=\"cell-3\" style=\"text-align:right;\">6,832,037</td> <td class=\"cell-4\" style=\"text-align:right;\">1,387,301</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://kids.nationalgeographic.com/explore/awesome-8-hub/baby-animals</td> <td class=\"cell-2\" style=\"text-align:right;\">11,071,340</td> <td class=\"cell-3\" style=\"text-align:right;\">10,367,640</td> <td class=\"cell-4\" style=\"text-align:right;\">1,870,005</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://m.yourshot.nationalgeographic.com/stories/finding-family</td> <td class=\"cell-2\" style=\"text-align:right;\">11,000,421</td> <td class=\"cell-3\" styl

In [ ]:
i = 0
for row in eachrow(joinTableSummary)
    i += 1
    detailsPrint(UP,joinTableSummary,i)
    statsDetailsPrint(UP,joinTableSummary,i)
    if (i >= SP.showLines)
        break;
    end
end
;

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">2,892</td> <td class=\"cell-2\" style=\"text-align:right;\">326,498,798</td> <td class=\"cell-3\" style=\"text-align:right;\">326,499,226</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://kids.nationalgeographic.com/content/dam/kids/photos/animals/Mammals/H-P/Narwhal_20map-2.ngsversion.1429722478619.png</td></tr>\n    \n    \n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">166</td> <td class=\"cell-2\" style=\"text-align:right;\">2,210,599</td> <td class=\"cell-3\" style=\"text-align:right;\">2,211,008</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/content/dam/travel/rights-exempt/travel-2017/april-may-traveler-cover/april-may-nat-geo-traveler-cover.ngsversion.1493316249727.jpg</td></tr>\n    \n    \n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">3,194</td> <td class=\"cell-2\" style=\"text-align:right;\">3,188,605</td> <td class=\"cell-3\" style=\"text-align:right;\">3,188,997</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://geniusexperiment.nationalgeographic.com/public/assets/einstein/desktop/trainInterior.babylon</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">3,195</td> <td class=\"cell-2\" style=\"text-align:right;\">1,246,791</td> <td class=\"cell-3\" style=\"text-align:right;\">1,247,255</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://geniusexperiment.nationalgeographic.com/public/assets/einstein/desktop/NGC-Genius_Asset_Groundloop-2-BLUR_01a_mm.png</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">3,196</td> <td class=\"cell-2\" style=\"text-align:right;\">2,089,235</td> <td class=\"cell-3\" style=\"text-align:right;\">2,089,699</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://geniusexperiment.nationalgeographic.com/public/assets/einstein/desktop/NGC-Genius_Asset_Groundloop-2_01a_mm.png</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">3,196</td> <td class=\"cell-2\" style=\"text-align:right;\">1,328,422</td> <td class=\"cell-3\" style=\"text-align:right;\">1,328,886</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://geniusexperiment.nationalgeographic.com/public/assets/einstein/desktop/NGC_Genius_Asset_InsideTrainCar-FLOOR_01_gm_Edge.png</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">3,197</td> <td class=\"cell-2\" style=\"text-align:right;\">1,038,671</td> <td class=\"cell-3\" style=\"text-align:right;\">1,039,134</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://geniusexperiment.nationalgeographic.com/public/assets/einstein/desktop/NGC-Genius_Asset_Skybox_01a_mm.png</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">3,317</td> <td class=\"cell-2\" style=\"text-align:right;\">1,183,788</td> <td class=\"cell-3\" style=\"text-align:right;\">1,184,180</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://geniusexperiment.nationalgeographic.com/public/assets/einstein/desktop/exterior.babylon</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">3,318</td> <td class=\"cell-2\" style=\"text-align:right;\">2,462,052</td> <td class=\"cell-3\" style=\"text-align:right;\">2,462,516</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://geniusexperiment.nationalgeographic.com/public/assets/einstein/desktop/NGC-Genius_Asset_ThoughtCloud-1d_02a_mm.png</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">3,318</td> <td class=\"cell-2\" style=\"text-align:right;\">1,719,298</td> <td class=\"cell-3\" style=\"text-align:right;\">1,719,763</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://geniusexperiment.nationalgeographic.com/public/assets/einstein/desktop/NGC-Genius_Asset_ThoughtCloud-1c_02a_mm.png</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">3,318</td> <td class=\"cell-2\" style=\"text-align:right;\">1,636,259</td> <td class=\"cell-3\" style=\"text-align:right;\">1,636,724</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://geniusexperiment.nationalgeographic.com/public/assets/einstein/desktop/NGC-Genius_Asset_ThoughtCloud-2d_02a_mm.png</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">3,318</td> <td class=\"cell-2\" style=\"text-align:right;\">1,370,186</td> <td class=\"cell-3\" style=\"text-align:right;\">1,370,650</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://geniusexperiment.nationalgeographic.com/public/assets/einstein/desktop/NGC-Genius_Asset_ThoughtCloud-1a_02a_mm.png</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">3,318</td> <td class=\"cell-2\" style=\"text-align:right;\">1,406,243</td> <td class=\"cell-3\" style=\"text-align:right;\">1,406,707</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://geniusexperiment.nationalgeographic.com/public/assets/einstein/desktop/NGC-Genius_Asset_ThoughtCloud-2c_02a_mm.png</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">3,319</td> <td class=\"cell-2\" style=\"text-align:right;\">1,889,233</td> <td class=\"cell-3\" style=\"text-align:right;\">1,889,697</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://geniusexperiment.nationalgeographic.com/public/assets/einstein/desktop/NGC-Genius_Asset_ThoughtCloud-1b_02a_mm.png</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">3,319</td> <td class=\"cell-2\" style=\"text-align:right;\">1,154,921</td> <td class=\"cell-3\" style=\"text-align:right;\">1,155,386</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://geniusexperiment.nationalgeographic.com/public/assets/einstein/desktop/NGC-Genius_Asset_ThoughtCloud-2a_02a_mm.png</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">3,319</td> <td class=\"cell-2\" style=\"text-align:right;\">1,534,593</td> <td class=\"cell-3\" style=\"text-align:right;\">1,535,058</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://geniusexperiment.nationalgeographic.com/public/assets/einstein/desktop/NGC-Genius_Asset_ThoughtCloud-2b_02a_mm.png</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">3,319</td> <td class=\"cell-2\" style=\"text-align:right;\">1,479,152</td> <td class=\"cell-3\" style=\"text-align:right;\">1,479,616</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://geniusexperiment.nationalgeographic.com/public/assets/einstein/desktop/hills_warped.png</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">427</td> <td class=\"cell-2\" style=\"text-align:right;\">2,541,791</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/countryman/assets/img/photo-gallery/photo-gallery1.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">428</td> <td class=\"cell-2\" style=\"text-align:right;\">1,584,781</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/countryman/assets/img/photo-gallery/photo-gallery7.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">428</td> <td class=\"cell-2\" style=\"text-align:right;\">1,577,720</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/countryman/assets/img/photo-gallery/photo-gallery2.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">428</td> <td class=\"cell-2\" style=\"text-align:right;\">1,574,314</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/countryman/assets/img/photo-gallery/photo-gallery8.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">428</td> <td class=\"cell-2\" style=\"text-align:right;\">1,658,064</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/countryman/assets/img/photo-gallery/photo-gallery4.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">428</td> <td class=\"cell-2\" style=\"text-align:right;\">1,862,829</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/countryman/assets/img/photo-gallery/photo-gallery3.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">428</td> <td class=\"cell-2\" style=\"text-align:right;\">1,871,313</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/countryman/assets/img/photo-gallery/photo-gallery5.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">428</td> <td class=\"cell-2\" style=\"text-align:right;\">1,576,528</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/countryman/assets/img/photo-gallery/photo-gallery6.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,209</td> <td class=\"cell-2\" style=\"text-align:right;\">1,577,720</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/countryman/assets/img/photo-gallery/photo-gallery2.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,209</td> <td class=\"cell-2\" style=\"text-align:right;\">1,658,064</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/countryman/assets/img/photo-gallery/photo-gallery4.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,209</td> <td class=\"cell-2\" style=\"text-align:right;\">1,862,829</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/countryman/assets/img/photo-gallery/photo-gallery3.jpg</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">1,209</td> <td class=\"cell-2\" style=\"text-align:right;\">1,871,313</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/countryman/assets/img/photo-gallery/photo-gallery5.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,209</td> <td class=\"cell-2\" style=\"text-align:right;\">2,541,791</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/countryman/assets/img/photo-gallery/photo-gallery1.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,209</td> <td class=\"cell-2\" style=\"text-align:right;\">1,576,528</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/countryman/assets/img/photo-gallery/photo-gallery6.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,210</td> <td class=\"cell-2\" style=\"text-align:right;\">1,584,781</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/countryman/assets/img/photo-gallery/photo-gallery7.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,210</td> <td class=\"cell-2\" style=\"text-align:right;\">1,574,314</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/countryman/assets/img/photo-gallery/photo-gallery8.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,385</td> <td class=\"cell-2\" style=\"text-align:right;\">1,328,907</td> <td class=\"cell-3\" style=\"text-align:right;\">1,329,206</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/countryman/assets/img/mini-hero-v2.png</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,386</td> <td class=\"cell-2\" style=\"text-align:right;\">1,805,514</td> <td class=\"cell-3\" style=\"text-align:right;\">1,805,813</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/countryman/assets/img/photo-gallery-bg.png</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">2,313</td> <td class=\"cell-2\" style=\"text-align:right;\">1,574,314</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/countryman/assets/img/photo-gallery/photo-gallery8.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">2,314</td> <td class=\"cell-2\" style=\"text-align:right;\">2,541,791</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/countryman/assets/img/photo-gallery/photo-gallery1.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">2,359</td> <td class=\"cell-2\" style=\"text-align:right;\">1,584,781</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/countryman/assets/img/photo-gallery/photo-gallery7.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">2,360</td> <td class=\"cell-2\" style=\"text-align:right;\">1,577,720</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/countryman/assets/img/photo-gallery/photo-gallery2.jpg</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">621</td> <td class=\"cell-2\" style=\"text-align:right;\">1,699,863</td> <td class=\"cell-3\" style=\"text-align:right;\">1,700,244</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://phenomena.nationalgeographic.com/files/2016/05/BH91DH.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">621</td> <td class=\"cell-2\" style=\"text-align:right;\">1,188,855</td> <td class=\"cell-3\" style=\"text-align:right;\">1,189,236</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://phenomena.nationalgeographic.com/files/2016/05/stravinsky-artistic-limitation-composer-no2.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">2,120</td> <td class=\"cell-2\" style=\"text-align:right;\">16,810,353</td> <td class=\"cell-3\" style=\"text-align:right;\">16,810,736</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://phenomena.nationalgeographic.com/files/2016/06/sf-sectional-detail.jpg</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">2,125</td> <td class=\"cell-2\" style=\"text-align:right;\">3,283,668</td> <td class=\"cell-3\" style=\"text-align:right;\">3,284,049</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://phenomena.nationalgeographic.com/files/2016/06/tahoe-detail.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">2,127</td> <td class=\"cell-2\" style=\"text-align:right;\">3,547,265</td> <td class=\"cell-3\" style=\"text-align:right;\">3,547,646</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://phenomena.nationalgeographic.com/files/2016/06/mono-lake-detail.jpg</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">671</td> <td class=\"cell-2\" style=\"text-align:right;\">2,210,599</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/content/dam/travel/rights-exempt/travel-2017/april-may-traveler-cover/april-may-nat-geo-traveler-cover.ngsversion.1493316249727.jpg</td></tr>\n    \n    \n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">649</td> <td class=\"cell-2\" style=\"text-align:right;\">2,210,599</td> <td class=\"cell-3\" style=\"text-align:right;\">2,211,008</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/content/dam/travel/rights-exempt/travel-2017/april-may-traveler-cover/april-may-nat-geo-traveler-cover.ngsversion.1493316249727.jpg</td></tr>\n    \n    \n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">7,031</td> <td class=\"cell-2\" style=\"text-align:right;\">1,035,469</td> <td class=\"cell-3\" style=\"text-align:right;\">1,035,847</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/content/dam/magazine/rights-exempt/2017/01/NineLives/04NineLives_2048.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">7,033</td> <td class=\"cell-2\" style=\"text-align:right;\">1,025,966</td> <td class=\"cell-3\" style=\"text-align:right;\">1,026,344</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/content/dam/magazine/rights-exempt/2017/01/NineLives/07NineLives_2048.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">7,033</td> <td class=\"cell-2\" style=\"text-align:right;\">1,028,023</td> <td class=\"cell-3\" style=\"text-align:right;\">1,028,401</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/content/dam/magazine/rights-exempt/2017/01/NineLives/08NineLives_2048.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">7,034</td> <td class=\"cell-2\" style=\"text-align:right;\">1,019,890</td> <td class=\"cell-3\" style=\"text-align:right;\">1,020,268</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/content/dam/magazine/rights-exempt/2017/01/NineLives/09NineLives_2048.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">7,098</td> <td class=\"cell-2\" style=\"text-align:right;\">1,008,571</td> <td class=\"cell-3\" style=\"text-align:right;\">1,008,949</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/content/dam/magazine/rights-exempt/2017/01/NineLives/10NineLives_2048.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">7,099</td> <td class=\"cell-2\" style=\"text-align:right;\">1,036,388</td> <td class=\"cell-3\" style=\"text-align:right;\">1,036,766</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/content/dam/magazine/rights-exempt/2017/01/NineLives/11NineLives_2048.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">7,100</td> <td class=\"cell-2\" style=\"text-align:right;\">1,001,394</td> <td class=\"cell-3\" style=\"text-align:right;\">1,001,772</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/content/dam/magazine/rights-exempt/2017/01/NineLives/13NineLives_2048.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">7,100</td> <td class=\"cell-2\" style=\"text-align:right;\">1,023,791</td> <td class=\"cell-3\" style=\"text-align:right;\">1,024,169</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/content/dam/magazine/rights-exempt/2017/01/NineLives/15NineLives_2048.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">7,100</td> <td class=\"cell-2\" style=\"text-align:right;\">1,013,658</td> <td class=\"cell-3\" style=\"text-align:right;\">1,014,036</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/content/dam/magazine/rights-exempt/2017/01/NineLives/14NineLives_2048.jpg</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">7,101</td> <td class=\"cell-2\" style=\"text-align:right;\">1,016,805</td> <td class=\"cell-3\" style=\"text-align:right;\">1,017,183</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/content/dam/magazine/rights-exempt/2017/01/NineLives/17NineLives_2048.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">7,101</td> <td class=\"cell-2\" style=\"text-align:right;\">1,032,819</td> <td class=\"cell-3\" style=\"text-align:right;\">1,033,197</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/content/dam/magazine/rights-exempt/2017/01/NineLives/16NineLives_2048.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">7,101</td> <td class=\"cell-2\" style=\"text-align:right;\">1,016,079</td> <td class=\"cell-3\" style=\"text-align:right;\">1,016,457</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/content/dam/magazine/rights-exempt/2017/01/NineLives/18NineLives_2048.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">7,127</td> <td class=\"cell-2\" style=\"text-align:right;\">1,042,447</td> <td class=\"cell-3\" style=\"text-align:right;\">1,042,825</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/content/dam/magazine/rights-exempt/2017/01/NineLives/20NineLives_2048.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">7,127</td> <td class=\"cell-2\" style=\"text-align:right;\">1,013,926</td> <td class=\"cell-3\" style=\"text-align:right;\">1,014,304</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/content/dam/magazine/rights-exempt/2017/01/NineLives/19NineLives_2048.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">7,129</td> <td class=\"cell-2\" style=\"text-align:right;\">1,013,127</td> <td class=\"cell-3\" style=\"text-align:right;\">1,013,505</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/content/dam/magazine/rights-exempt/2017/01/NineLives/24NineLives_2048.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">7,130</td> <td class=\"cell-2\" style=\"text-align:right;\">1,016,027</td> <td class=\"cell-3\" style=\"text-align:right;\">1,016,405</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/content/dam/magazine/rights-exempt/2017/01/NineLives/25NineLives_2048.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">7,131</td> <td class=\"cell-2\" style=\"text-align:right;\">1,020,101</td> <td class=\"cell-3\" style=\"text-align:right;\">1,020,479</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/content/dam/magazine/rights-exempt/2017/01/NineLives/27NineLives_2048.jpg</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">280</td> <td class=\"cell-2\" style=\"text-align:right;\">1,353,722</td> <td class=\"cell-3\" style=\"text-align:right;\">1,354,103</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2013/11/Boulat01.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">281</td> <td class=\"cell-2\" style=\"text-align:right;\">3,432,594</td> <td class=\"cell-3\" style=\"text-align:right;\">3,432,975</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2013/11/Boulat07.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">281</td> <td class=\"cell-2\" style=\"text-align:right;\">3,483,725</td> <td class=\"cell-3\" style=\"text-align:right;\">3,484,106</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2013/11/Boulat10.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">281</td> <td class=\"cell-2\" style=\"text-align:right;\">2,202,254</td> <td class=\"cell-3\" style=\"text-align:right;\">2,202,635</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2013/11/Boulat03.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">281</td> <td class=\"cell-2\" style=\"text-align:right;\">3,222,376</td> <td class=\"cell-3\" style=\"text-align:right;\">3,222,757</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2013/11/Boulat02.jpg</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">281</td> <td class=\"cell-2\" style=\"text-align:right;\">2,789,529</td> <td class=\"cell-3\" style=\"text-align:right;\">2,789,910</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2013/11/Boulat09.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">281</td> <td class=\"cell-2\" style=\"text-align:right;\">3,217,593</td> <td class=\"cell-3\" style=\"text-align:right;\">3,217,974</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2013/11/Boulat04.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">281</td> <td class=\"cell-2\" style=\"text-align:right;\">3,445,829</td> <td class=\"cell-3\" style=\"text-align:right;\">3,446,210</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2013/11/Boulat08.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">281</td> <td class=\"cell-2\" style=\"text-align:right;\">2,908,946</td> <td class=\"cell-3\" style=\"text-align:right;\">2,909,327</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2013/11/Boulat05.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">281</td> <td class=\"cell-2\" style=\"text-align:right;\">2,541,824</td> <td class=\"cell-3\" style=\"text-align:right;\">2,542,205</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2013/11/Boulat06.jpg</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">1,273</td> <td class=\"cell-2\" style=\"text-align:right;\">3,121,191</td> <td class=\"cell-3\" style=\"text-align:right;\">3,121,523</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/foodfeatures/aquaculture/images/img1_2048.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,274</td> <td class=\"cell-2\" style=\"text-align:right;\">2,543,551</td> <td class=\"cell-3\" style=\"text-align:right;\">2,543,883</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/foodfeatures/aquaculture/images/img2_2048.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,275</td> <td class=\"cell-2\" style=\"text-align:right;\">1,624,054</td> <td class=\"cell-3\" style=\"text-align:right;\">1,624,386</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/foodfeatures/aquaculture/images/pair1a.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,276</td> <td class=\"cell-2\" style=\"text-align:right;\">1,157,458</td> <td class=\"cell-3\" style=\"text-align:right;\">1,157,790</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/foodfeatures/aquaculture/images/pair1b.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,277</td> <td class=\"cell-2\" style=\"text-align:right;\">1,584,733</td> <td class=\"cell-3\" style=\"text-align:right;\">1,585,065</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/foodfeatures/aquaculture/images/img3_2048.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,283</td> <td class=\"cell-2\" style=\"text-align:right;\">1,106,389</td> <td class=\"cell-3\" style=\"text-align:right;\">1,106,721</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/foodfeatures/aquaculture/images/pair2a.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,285</td> <td class=\"cell-2\" style=\"text-align:right;\">1,287,962</td> <td class=\"cell-3\" style=\"text-align:right;\">1,288,294</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/foodfeatures/aquaculture/images/pair2b.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,287</td> <td class=\"cell-2\" style=\"text-align:right;\">3,123,465</td> <td class=\"cell-3\" style=\"text-align:right;\">3,123,797</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/foodfeatures/aquaculture/images/img4_2048.jpg</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">3,556</td> <td class=\"cell-2\" style=\"text-align:right;\">1,947,316</td> <td class=\"cell-3\" style=\"text-align:right;\">1,947,648</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/foodfeatures/aquaculture/images/img1_1536.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">4,293</td> <td class=\"cell-2\" style=\"text-align:right;\">1,838,712</td> <td class=\"cell-3\" style=\"text-align:right;\">1,839,044</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/foodfeatures/aquaculture/images/img4_1536.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">4,297</td> <td class=\"cell-2\" style=\"text-align:right;\">1,031,227</td> <td class=\"cell-3\" style=\"text-align:right;\">1,031,559</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/foodfeatures/aquaculture/images/img3_1536.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">4,299</td> <td class=\"cell-2\" style=\"text-align:right;\">1,505,135</td> <td class=\"cell-3\" style=\"text-align:right;\">1,505,467</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/foodfeatures/aquaculture/images/img2_1536.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">7,524</td> <td class=\"cell-2\" style=\"text-align:right;\">2,390,017</td> <td class=\"cell-3\" style=\"text-align:right;\">2,390,349</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/foodfeatures/aquaculture/images/slideShow1/images_1536/carousel1.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">7,525</td> <td class=\"cell-2\" style=\"text-align:right;\">1,701,239</td> <td class=\"cell-3\" style=\"text-align:right;\">1,701,570</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/foodfeatures/aquaculture/images/slideShow1/images_1536/carousel3.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">7,526</td> <td class=\"cell-2\" style=\"text-align:right;\">1,001,184</td> <td class=\"cell-3\" style=\"text-align:right;\">1,001,516</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/foodfeatures/aquaculture/images/slideShow1/images_1536/carousel5.jpg</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">1,053</td> <td class=\"cell-2\" style=\"text-align:right;\">2,210,599</td> <td class=\"cell-3\" style=\"text-align:right;\">2,211,008</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/content/dam/travel/rights-exempt/travel-2017/april-may-traveler-cover/april-may-nat-geo-traveler-cover.ngsversion.1493316249727.jpg</td></tr>\n    \n    \n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">628</td> <td class=\"cell-2\" style=\"text-align:right;\">2,210,599</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/content/dam/travel/rights-exempt/travel-2017/april-may-traveler-cover/april-may-nat-geo-traveler-cover.ngsversion.1493316249727.jpg</td></tr>\n    \n    \n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">969</td> <td class=\"cell-2\" style=\"text-align:right;\">4,135,066</td> <td class=\"cell-3\" style=\"text-align:right;\">4,135,447</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2015/02/MM8326_140725_313171.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">969</td> <td class=\"cell-2\" style=\"text-align:right;\">3,595,032</td> <td class=\"cell-3\" style=\"text-align:right;\">3,595,413</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2015/02/MM8326_140721_30954.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">970</td> <td class=\"cell-2\" style=\"text-align:right;\">4,000,372</td> <td class=\"cell-3\" style=\"text-align:right;\">4,000,753</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2015/02/MM8326_140723_31039.jpg</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">970</td> <td class=\"cell-2\" style=\"text-align:right;\">3,596,868</td> <td class=\"cell-3\" style=\"text-align:right;\">3,597,249</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2015/02/MG_97331.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">970</td> <td class=\"cell-2\" style=\"text-align:right;\">3,619,939</td> <td class=\"cell-3\" style=\"text-align:right;\">3,620,320</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2015/02/MM8326_140723_31025.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">971</td> <td class=\"cell-2\" style=\"text-align:right;\">3,584,633</td> <td class=\"cell-3\" style=\"text-align:right;\">3,585,014</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2015/02/MM8326_140723_310681.jpg</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">374</td> <td class=\"cell-2\" style=\"text-align:right;\">1,340,023</td> <td class=\"cell-3\" style=\"text-align:right;\">1,340,404</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://theplate.nationalgeographic.com/files/2016/03/prod-yourshot-1253073-7761982.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">374</td> <td class=\"cell-2\" style=\"text-align:right;\">1,469,508</td> <td class=\"cell-3\" style=\"text-align:right;\">1,469,889</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://theplate.nationalgeographic.com/files/2016/03/7895625_uploadsmember663986yourshot-663986-7895625jpg_a3ekf7ejbeydy3zoberehu3eflp3eflutfvvbpyjwjhzlmh4iziq_4222x3165.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">374</td> <td class=\"cell-2\" style=\"text-align:right;\">5,170,835</td> <td class=\"cell-3\" style=\"text-align:right;\">5,171,216</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://theplate.nationalgeographic.com/files/2016/03/prod-yourshot-97798-7781188.jpg</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">374</td> <td class=\"cell-2\" style=\"text-align:right;\">1,551,638</td> <td class=\"cell-3\" style=\"text-align:right;\">1,552,019</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://theplate.nationalgeographic.com/files/2016/03/7813380_uploadsmember920917yourshot-920917-7813380jpg_kjukqx4t3q2art2dq5yjwhtkx7p3eflutfvvbpyjwjhzlmh4iziq_4608x3456.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">374</td> <td class=\"cell-2\" style=\"text-align:right;\">5,980,171</td> <td class=\"cell-3\" style=\"text-align:right;\">5,980,552</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://theplate.nationalgeographic.com/files/2016/03/prod-yourshot-159407-7821284.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">375</td> <td class=\"cell-2\" style=\"text-align:right;\">2,475,604</td> <td class=\"cell-3\" style=\"text-align:right;\">2,475,985</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://theplate.nationalgeographic.com/files/2016/03/prod-yourshot-1058129-7897624.jpg</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">1,051</td> <td class=\"cell-2\" style=\"text-align:right;\">3,507,018</td> <td class=\"cell-3\" style=\"text-align:right;\">3,507,399</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/05/140512-watkins-yosemite-06.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,052</td> <td class=\"cell-2\" style=\"text-align:right;\">2,886,132</td> <td class=\"cell-3\" style=\"text-align:right;\">2,886,513</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/05/140512-watkins-yosemite-11.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,052</td> <td class=\"cell-2\" style=\"text-align:right;\">3,247,974</td> <td class=\"cell-3\" style=\"text-align:right;\">3,248,355</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/05/140512-watkins-yosemite-02.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,052</td> <td class=\"cell-2\" style=\"text-align:right;\">2,440,235</td> <td class=\"cell-3\" style=\"text-align:right;\">2,440,616</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/05/140512-watkins-yosemite-05.jpg</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">1,052</td> <td class=\"cell-2\" style=\"text-align:right;\">3,654,487</td> <td class=\"cell-3\" style=\"text-align:right;\">3,654,868</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/05/140512-watkins-yosemite-01.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,053</td> <td class=\"cell-2\" style=\"text-align:right;\">2,993,095</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/05/140512-watkins-yosemite-08.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">7,075</td> <td class=\"cell-2\" style=\"text-align:right;\">2,071,546</td> <td class=\"cell-3\" style=\"text-align:right;\">2,071,927</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/05/140512-watkins-yosemite-13.jpg</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">70</td> <td class=\"cell-2\" style=\"text-align:right;\">1,963,300</td> <td class=\"cell-3\" style=\"text-align:right;\">1,963,681</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2015/05/Matt-Propert_Fenwick-Years-1.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">71</td> <td class=\"cell-2\" style=\"text-align:right;\">1,948,401</td> <td class=\"cell-3\" style=\"text-align:right;\">1,948,782</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2015/05/Matt-Propert_Fenwick-Years-14.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">71</td> <td class=\"cell-2\" style=\"text-align:right;\">1,926,684</td> <td class=\"cell-3\" style=\"text-align:right;\">1,927,065</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2015/05/Matt-Propert_Fenwick-Years-18.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">71</td> <td class=\"cell-2\" style=\"text-align:right;\">1,170,752</td> <td class=\"cell-3\" style=\"text-align:right;\">1,171,133</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2015/06/Matt-Propert_The-Fenwick-Years-12.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">72</td> <td class=\"cell-2\" style=\"text-align:right;\">1,996,212</td> <td class=\"cell-3\" style=\"text-align:right;\">1,996,593</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2015/05/Matt-Propert_Fenwick-Years-7.jpg</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">74</td> <td class=\"cell-2\" style=\"text-align:right;\">1,922,653</td> <td class=\"cell-3\" style=\"text-align:right;\">1,923,034</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2015/05/Matt-Propert_Fenwick-Years-17.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">74</td> <td class=\"cell-2\" style=\"text-align:right;\">2,068,014</td> <td class=\"cell-3\" style=\"text-align:right;\">2,068,395</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2015/05/Matt-Propert_Fenwick-Years-11.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">74</td> <td class=\"cell-2\" style=\"text-align:right;\">2,032,417</td> <td class=\"cell-3\" style=\"text-align:right;\">2,032,798</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2015/06/Matt-Propert_Fenwick-Years-8-.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">75</td> <td class=\"cell-2\" style=\"text-align:right;\">1,926,765</td> <td class=\"cell-3\" style=\"text-align:right;\">1,927,146</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2015/06/Matt-Propert_Fenwick-Years-16-.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">77</td> <td class=\"cell-2\" style=\"text-align:right;\">1,992,417</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2015/05/Matt-Propert_Fenwick-Years-13.jpg</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">329</td> <td class=\"cell-2\" style=\"text-align:right;\">2,005,699</td> <td class=\"cell-3\" style=\"text-align:right;\">2,006,080</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/02/DSC_5803.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">329</td> <td class=\"cell-2\" style=\"text-align:right;\">4,261,226</td> <td class=\"cell-3\" style=\"text-align:right;\">4,261,607</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/02/KEN_9291.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">329</td> <td class=\"cell-2\" style=\"text-align:right;\">3,055,848</td> <td class=\"cell-3\" style=\"text-align:right;\">3,056,229</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/02/KEN_9108.jpg</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">330</td> <td class=\"cell-2\" style=\"text-align:right;\">3,627,037</td> <td class=\"cell-3\" style=\"text-align:right;\">3,627,418</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/02/KEN_6870.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">330</td> <td class=\"cell-2\" style=\"text-align:right;\">3,224,231</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/02/KEN_0729.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">330</td> <td class=\"cell-2\" style=\"text-align:right;\">2,201,628</td> <td class=\"cell-3\" style=\"text-align:right;\">2,202,009</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/02/KEN_0571.jpg</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">518</td> <td class=\"cell-2\" style=\"text-align:right;\">2,586,027</td> <td class=\"cell-3\" style=\"text-align:right;\">2,586,408</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2013/12/NORILSK_CHERNYSHOVAE_81.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">518</td> <td class=\"cell-2\" style=\"text-align:right;\">1,674,259</td> <td class=\"cell-3\" style=\"text-align:right;\">1,674,640</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2013/12/NORILSK_CHERNYSHOVAE_1.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">518</td> <td class=\"cell-2\" style=\"text-align:right;\">1,884,146</td> <td class=\"cell-3\" style=\"text-align:right;\">1,884,527</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2013/12/NORILSK_CHERNYSHOVAE_4.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">519</td> <td class=\"cell-2\" style=\"text-align:right;\">2,010,796</td> <td class=\"cell-3\" style=\"text-align:right;\">2,011,177</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2013/12/NORILSK_CHERNYSHOVAE_12.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">519</td> <td class=\"cell-2\" style=\"text-align:right;\">1,956,450</td> <td class=\"cell-3\" style=\"text-align:right;\">1,956,831</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2013/12/NORILSK_CHERNYSHOVAE_10.jpg</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">519</td> <td class=\"cell-2\" style=\"text-align:right;\">1,275,242</td> <td class=\"cell-3\" style=\"text-align:right;\">1,275,623</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2013/12/NORILSK_CHERNYSHOVAE_14.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">519</td> <td class=\"cell-2\" style=\"text-align:right;\">1,459,812</td> <td class=\"cell-3\" style=\"text-align:right;\">1,460,193</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2013/12/NORILSK_CHERNYSHOVAE_9.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">519</td> <td class=\"cell-2\" style=\"text-align:right;\">2,442,534</td> <td class=\"cell-3\" style=\"text-align:right;\">2,442,915</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2013/12/NORILSK_CHERNYSHOVAE_11.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">519</td> <td class=\"cell-2\" style=\"text-align:right;\">2,394,516</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2013/12/NORILSK_CHERNYSHOVAE_3.jpg</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">136</td> <td class=\"cell-2\" style=\"text-align:right;\">2,619,682</td> <td class=\"cell-3\" style=\"text-align:right;\">2,620,062</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2015/07/Antimatter-Flower-Close-Up-Timelapse-GIF.gif</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">136</td> <td class=\"cell-2\" style=\"text-align:right;\">2,219,329</td> <td class=\"cell-3\" style=\"text-align:right;\">2,219,709</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2015/07/Arizona-Sunset-3-Flower-Timelapse.gif</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">137</td> <td class=\"cell-2\" style=\"text-align:right;\">2,386,655</td> <td class=\"cell-3\" style=\"text-align:right;\">2,387,035</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2015/07/10-Daydream-Flowers.gif</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">137</td> <td class=\"cell-2\" style=\"text-align:right;\">1,961,717</td> <td class=\"cell-3\" style=\"text-align:right;\">1,962,097</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2015/07/Eroica-2-Flowers.gif</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">137</td> <td class=\"cell-2\" style=\"text-align:right;\">2,440,374</td> <td class=\"cell-3\" style=\"text-align:right;\">2,440,754</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2015/07/Cassandra1-Flower-Timelapse.gif</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">137</td> <td class=\"cell-2\" style=\"text-align:right;\">2,329,689</td> <td class=\"cell-3\" style=\"text-align:right;\">2,330,069</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2015/07/Fascination-6-Flower-Timelapse.gif</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">137</td> <td class=\"cell-2\" style=\"text-align:right;\">2,343,849</td> <td class=\"cell-3\" style=\"text-align:right;\">2,344,229</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2015/07/Yes-4-Flower-Timelapse.gif</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">50</td> <td class=\"cell-2\" style=\"text-align:right;\">3,951,491</td> <td class=\"cell-3\" style=\"text-align:right;\">3,951,822</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/astrobiology/images/interactive/parallax/AstroParallaxR_surface_full.png</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">50</td> <td class=\"cell-2\" style=\"text-align:right;\">1,211,005</td> <td class=\"cell-3\" style=\"text-align:right;\">1,211,336</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/astrobiology/images/interactive/parallax/AstroParallaxR_geyser.png</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">221</td> <td class=\"cell-2\" style=\"text-align:right;\">4,157,689</td> <td class=\"cell-3\" style=\"text-align:right;\">4,158,073</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/astrobiology/videos/16x9/Astrobiology-Radiation-16x9.mp4</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">221</td> <td class=\"cell-2\" style=\"text-align:right;\">3,296,493</td> <td class=\"cell-3\" style=\"text-align:right;\">3,296,877</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/astrobiology/videos/16x9/Astrobiology-Sulphur-16x9.mp4</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">221</td> <td class=\"cell-2\" style=\"text-align:right;\">1,947,252</td> <td class=\"cell-3\" style=\"text-align:right;\">1,947,636</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/astrobiology/videos/16x9/AstroWedge-16x9.mp4</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">221</td> <td class=\"cell-2\" style=\"text-align:right;\">1,608,649</td> <td class=\"cell-3\" style=\"text-align:right;\">1,609,033</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/astrobiology/videos/16x9/Astrobiology-Gravity-16x9.mp4</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">196</td> <td class=\"cell-2\" style=\"text-align:right;\">3,440,950</td> <td class=\"cell-3\" style=\"text-align:right;\">3,441,331</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2015/05/NationalGeographic_437921.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">197</td> <td class=\"cell-2\" style=\"text-align:right;\">2,702,248</td> <td class=\"cell-3\" style=\"text-align:right;\">2,702,629</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2015/05/NationalGeographic_437927.jpg</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">197</td> <td class=\"cell-2\" style=\"text-align:right;\">3,351,384</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2015/05/NationalGeographic_437926.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">197</td> <td class=\"cell-2\" style=\"text-align:right;\">1,789,344</td> <td class=\"cell-3\" style=\"text-align:right;\">1,789,725</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2015/05/NationalGeographic_437930.jpg</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">2,941</td> <td class=\"cell-2\" style=\"text-align:right;\">2,107,627</td> <td class=\"cell-3\" style=\"text-align:right;\">2,107,959</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/foodfeatures/feeding-9-billion/images/carousel2/images_2048/coverSlide.jpg</td></tr>\n    \n    \n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">450</td> <td class=\"cell-2\" style=\"text-align:right;\">1,378,390</td> <td class=\"cell-3\" style=\"text-align:right;\">1,378,738</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://ngm.nationalgeographic.com/2015/12/virgin-mary/img/02-paired-medjugorje-2048.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">450</td> <td class=\"cell-2\" style=\"text-align:right;\">1,373,595</td> <td class=\"cell-3\" style=\"text-align:right;\">1,373,943</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://ngm.nationalgeographic.com/2015/12/virgin-mary/img/08b-polish-healer-prays-2048.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">450</td> <td class=\"cell-2\" style=\"text-align:right;\">1,002,630</td> <td class=\"cell-3\" style=\"text-align:right;\">1,002,978</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://ngm.nationalgeographic.com/2015/12/virgin-mary/img/02-poland-feast-of-assumption-v3-2048.jpg</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">1,631</td> <td class=\"cell-2\" style=\"text-align:right;\">2,734,008</td> <td class=\"cell-3\" style=\"text-align:right;\">2,734,357</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://ngm.nationalgeographic.com/2015/12/virgin-mary/img/09p1-guadalupe-pilgrim-pair-2048.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,631</td> <td class=\"cell-2\" style=\"text-align:right;\">3,049,781</td> <td class=\"cell-3\" style=\"text-align:right;\">3,050,130</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://ngm.nationalgeographic.com/2015/12/virgin-mary/img/09p2-guadalupe-pilgrim-pair-2048.jpg</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">582</td> <td class=\"cell-2\" style=\"text-align:right;\">1,214,761</td> <td class=\"cell-3\" style=\"text-align:right;\">1,215,093</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/china-caves/img/gallery-1-2.de59.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">583</td> <td class=\"cell-2\" style=\"text-align:right;\">1,244,014</td> <td class=\"cell-3\" style=\"text-align:right;\">1,244,346</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/china-caves/img/gallery-1-3.5edd.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">585</td> <td class=\"cell-2\" style=\"text-align:right;\">1,765,864</td> <td class=\"cell-3\" style=\"text-align:right;\">1,766,196</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/china-caves/img/gallery-2-1.507f.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">586</td> <td class=\"cell-2\" style=\"text-align:right;\">1,124,050</td> <td class=\"cell-3\" style=\"text-align:right;\">1,124,382</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/china-caves/img/gallery-2-3.e2a6.jpg</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">586</td> <td class=\"cell-2\" style=\"text-align:right;\">1,008,387</td> <td class=\"cell-3\" style=\"text-align:right;\">1,008,719</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/china-caves/img/gallery-2-4.c5d7.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">586</td> <td class=\"cell-2\" style=\"text-align:right;\">1,023,089</td> <td class=\"cell-3\" style=\"text-align:right;\">1,023,421</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/china-caves/img/gallery-3-1.3e50.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">587</td> <td class=\"cell-2\" style=\"text-align:right;\">1,065,114</td> <td class=\"cell-3\" style=\"text-align:right;\">1,065,446</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/china-caves/img/gallery-3-3.ce8c.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,659</td> <td class=\"cell-2\" style=\"text-align:right;\">1,090,254</td> <td class=\"cell-3\" style=\"text-align:right;\">1,090,586</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/china-caves/img/image-2.5e29.jpg</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">535</td> <td class=\"cell-2\" style=\"text-align:right;\">10,789,850</td> <td class=\"cell-3\" style=\"text-align:right;\">10,790,198</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://ngm.nationalgeographic.com/2014/02/il-duomo/img/II_Duomo_Slider_domes.png</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">536</td> <td class=\"cell-2\" style=\"text-align:right;\">2,036,815</td> <td class=\"cell-3\" style=\"text-align:right;\">2,037,165</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://ngm.nationalgeographic.com/2014/02/il-duomo/img/II_Duomo_Slider_front.svg</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">1,535</td> <td class=\"cell-2\" style=\"text-align:right;\">1,159,327</td> <td class=\"cell-3\" style=\"text-align:right;\">1,159,675</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://ngm.nationalgeographic.com/2014/02/il-duomo/img/IlDuomo_domesscroll_background.jpg</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">19,071</td> <td class=\"cell-2\" style=\"text-align:right;\">1,648,956</td> <td class=\"cell-3\" style=\"text-align:right;\">1,649,404</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://kids.nationalgeographic.com/content/dam/kids/photos/articles/Other_20Explore_20Photos/R-Z/WBT_20Gallery/WBT1600x9004.ngsversion.1423170168709.adapt.536.2.png</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">19,073</td> <td class=\"cell-2\" style=\"text-align:right;\">1,128,530</td> <td class=\"cell-3\" style=\"text-align:right;\">1,128,978</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://kids.nationalgeographic.com/content/dam/kids/photos/articles/Other_20Explore_20Photos/R-Z/WBT_20Gallery/WBT1600x90074.ngsversion.1435708655697.adapt.536.2.png</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">19,074</td> <td class=\"cell-2\" style=\"text-align:right;\">1,401,586</td> <td class=\"cell-3\" style=\"text-align:right;\">1,402,035</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://kids.nationalgeographic.com/content/dam/kids/photos/articles/Other_20Explore_20Photos/R-Z/WBT_20Gallery/sw-vader.ngsversion.1480968004589.adapt.536.2.jpg</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">19,078</td> <td class=\"cell-2\" style=\"text-align:right;\">1,345,707</td> <td class=\"cell-3\" style=\"text-align:right;\">1,346,155</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://kids.nationalgeographic.com/content/dam/kids/photos/articles/Other_20Explore_20Photos/R-Z/WBT_20Gallery/WBT1600x900297.ngsversion.1423265730086.adapt.536.2.png</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">19,082</td> <td class=\"cell-2\" style=\"text-align:right;\">1,644,502</td> <td class=\"cell-3\" style=\"text-align:right;\">1,644,950</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://kids.nationalgeographic.com/content/dam/kids/photos/articles/Other_20Explore_20Photos/R-Z/WBT_20Gallery/WBT1600x900300.ngsversion.1423261734219.adapt.536.2.png</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">1,027</td> <td class=\"cell-2\" style=\"text-align:right;\">1,486,075</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/06/140603-burnett-dday-19.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,027</td> <td class=\"cell-2\" style=\"text-align:right;\">2,466,247</td> <td class=\"cell-3\" style=\"text-align:right;\">2,466,628</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/06/140603-burnett-dday-17.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,027</td> <td class=\"cell-2\" style=\"text-align:right;\">1,692,018</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/06/140603-burnett-dday-16.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,027</td> <td class=\"cell-2\" style=\"text-align:right;\">1,259,772</td> <td class=\"cell-3\" style=\"text-align:right;\">1,260,153</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/06/140603-burnett-dday-18.jpg</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">1,027</td> <td class=\"cell-2\" style=\"text-align:right;\">2,069,914</td> <td class=\"cell-3\" style=\"text-align:right;\">2,070,295</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/06/140603-burnett-dday-07.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,027</td> <td class=\"cell-2\" style=\"text-align:right;\">1,847,061</td> <td class=\"cell-3\" style=\"text-align:right;\">1,847,442</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/06/140603-burnett-dday-02.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,027</td> <td class=\"cell-2\" style=\"text-align:right;\">1,657,228</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/06/140603-burnett-dday-04.jpg</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">1,171</td> <td class=\"cell-2\" style=\"text-align:right;\">11,471,240</td> <td class=\"cell-3\" style=\"text-align:right;\">11,471,690</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://kids.nationalgeographic.com/content/kids/en_US/explore/nature/brontosaurus-makes-a-comeback/_jcr_content/content/textimage_1/image.ngsversion.1431624397806.img.jpg/1431624397806.jpg</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">1,173</td> <td class=\"cell-2\" style=\"text-align:right;\">1,035,034</td> <td class=\"cell-3\" style=\"text-align:right;\">1,035,483</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://kids.nationalgeographic.com/content/dam/kids/photos/articles/Other_20Explore_20Photos/A-G/125-animals-tiger.ngsversion.1431105584797.jpg</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">200</td> <td class=\"cell-2\" style=\"text-align:right;\">6,455,579</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2015/07/appletvtest5.gif</td></tr>\n    \n    \n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">211</td> <td class=\"cell-2\" style=\"text-align:right;\">1,732,041</td> <td class=\"cell-3\" style=\"text-align:right;\">1,732,437</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://tvblogs.nationalgeographic.com/files/2014/06/jiggy1.gif</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">211</td> <td class=\"cell-2\" style=\"text-align:right;\">1,162,118</td> <td class=\"cell-3\" style=\"text-align:right;\">1,162,514</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://tvblogs.nationalgeographic.com/files/2014/06/whatever.gif</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">218</td> <td class=\"cell-2\" style=\"text-align:right;\">1,653,729</td> <td class=\"cell-3\" style=\"text-align:right;\">1,654,125</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://tvblogs.nationalgeographic.com/files/2014/06/whasup.gif</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">218</td> <td class=\"cell-2\" style=\"text-align:right;\">1,589,890</td> <td class=\"cell-3\" style=\"text-align:right;\">1,590,286</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://tvblogs.nationalgeographic.com/files/2014/06/yadda.gif</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">218</td> <td class=\"cell-2\" style=\"text-align:right;\">1,493,034</td> <td class=\"cell-3\" style=\"text-align:right;\">1,493,430</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://tvblogs.nationalgeographic.com/files/2014/06/buggin.gif</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">218</td> <td class=\"cell-2\" style=\"text-align:right;\">1,446,374</td> <td class=\"cell-3\" style=\"text-align:right;\">1,446,770</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://tvblogs.nationalgeographic.com/files/2014/06/schwing.gif</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">218</td> <td class=\"cell-2\" style=\"text-align:right;\">1,496,554</td> <td class=\"cell-3\" style=\"text-align:right;\">1,496,950</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://tvblogs.nationalgeographic.com/files/2014/06/scrub.gif</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">218</td> <td class=\"cell-2\" style=\"text-align:right;\">1,568,508</td> <td class=\"cell-3\" style=\"text-align:right;\">1,568,904</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://tvblogs.nationalgeographic.com/files/2014/06/cherasif.gif</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">141</td> <td class=\"cell-2\" style=\"text-align:right;\">1,699,863</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://phenomena.nationalgeographic.com/files/2016/05/BH91DH.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">141</td> <td class=\"cell-2\" style=\"text-align:right;\">1,188,855</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://phenomena.nationalgeographic.com/files/2016/05/stravinsky-artistic-limitation-composer-no2.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">141</td> <td class=\"cell-2\" style=\"text-align:right;\">1,555,104</td> <td class=\"cell-3\" style=\"text-align:right;\">1,555,485</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://phenomena.nationalgeographic.com/files/2015/06/Hermaphrodite-Survivor.jpg</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">141</td> <td class=\"cell-2\" style=\"text-align:right;\">1,525,842</td> <td class=\"cell-3\" style=\"text-align:right;\">1,526,223</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://phenomena.nationalgeographic.com/files/2015/06/Hermaphrodite-Possible-Lover.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">141</td> <td class=\"cell-2\" style=\"text-align:right;\">1,395,283</td> <td class=\"cell-3\" style=\"text-align:right;\">1,395,664</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://phenomena.nationalgeographic.com/files/2015/06/Hermaphrodites-Volcano.jpg</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">161</td> <td class=\"cell-2\" style=\"text-align:right;\">2,279,567</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://phenomena.nationalgeographic.com/files/2016/06/Theodore-Roosevelt-NP-grid.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">247</td> <td class=\"cell-2\" style=\"text-align:right;\">1,188,855</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://phenomena.nationalgeographic.com/files/2016/05/stravinsky-artistic-limitation-composer-no2.jpg</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">247</td> <td class=\"cell-2\" style=\"text-align:right;\">1,699,863</td> <td class=\"cell-3\" style=\"text-align:right;\">3,206,693</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://phenomena.nationalgeographic.com/files/2016/05/BH91DH.jpg</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">1,074</td> <td class=\"cell-2\" style=\"text-align:right;\">1,083,652</td> <td class=\"cell-3\" style=\"text-align:right;\">1,084,060</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/content/dam/magazine/rights-exempt/nat-geo-staff-graphics-illustrations/2016/12/ScienceOfBelief/ScienceOfBelief_Web-Artboard_3.ngsversion.1478707528063.png</td></tr>\n    \n    \n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">175</td> <td class=\"cell-2\" style=\"text-align:right;\">1,202,540</td> <td class=\"cell-3\" style=\"text-align:right;\">1,202,921</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2015/05/MM8190_12_09_30_10398-copy.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">175</td> <td class=\"cell-2\" style=\"text-align:right;\">1,778,269</td> <td class=\"cell-3\" style=\"text-align:right;\">1,778,650</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2015/05/MM8190_12_10_04_12787-copy.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">175</td> <td class=\"cell-2\" style=\"text-align:right;\">1,220,256</td> <td class=\"cell-3\" style=\"text-align:right;\">1,220,637</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2015/05/MM8190_12_09_30_09999-copy.jpg</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">175</td> <td class=\"cell-2\" style=\"text-align:right;\">2,789,029</td> <td class=\"cell-3\" style=\"text-align:right;\">2,789,410</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2015/05/MM8190_12_09_30_10926-copy.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">6,418</td> <td class=\"cell-2\" style=\"text-align:right;\">2,368,933</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2015/05/MM8190_12_09_30_10626-copy.jpg</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">1,229</td> <td class=\"cell-2\" style=\"text-align:right;\">2,394,197</td> <td class=\"cell-3\" style=\"text-align:right;\">2,394,497</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/microsoft/auroraborealis/img/gallery/zoom-to-discover/img1.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,231</td> <td class=\"cell-2\" style=\"text-align:right;\">2,560,153</td> <td class=\"cell-3\" style=\"text-align:right;\">2,560,453</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/microsoft/auroraborealis/img/gallery/zoom-to-discover/img2.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,232</td> <td class=\"cell-2\" style=\"text-align:right;\">3,340,862</td> <td class=\"cell-3\" style=\"text-align:right;\">3,341,162</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/microsoft/auroraborealis/img/gallery/zoom-to-discover/img3.jpg</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">1,233</td> <td class=\"cell-2\" style=\"text-align:right;\">1,955,303</td> <td class=\"cell-3\" style=\"text-align:right;\">1,955,603</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/microsoft/auroraborealis/img/gallery/zoom-to-discover/img4.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,234</td> <td class=\"cell-2\" style=\"text-align:right;\">1,763,196</td> <td class=\"cell-3\" style=\"text-align:right;\">1,763,496</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/microsoft/auroraborealis/img/gallery/zoom-to-discover/img5.jpg</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">513</td> <td class=\"cell-2\" style=\"text-align:right;\">1,205,416</td> <td class=\"cell-3\" style=\"text-align:right;\">1,205,797</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2016/02/Exhibition_Eunice.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">513</td> <td class=\"cell-2\" style=\"text-align:right;\">1,657,058</td> <td class=\"cell-3\" style=\"text-align:right;\">1,657,439</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2016/02/Saleno.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">513</td> <td class=\"cell-2\" style=\"text-align:right;\">1,460,915</td> <td class=\"cell-3\" style=\"text-align:right;\">1,461,296</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2016/02/Exhibition_Modestar.jpg</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">513</td> <td class=\"cell-2\" style=\"text-align:right;\">1,261,013</td> <td class=\"cell-3\" style=\"text-align:right;\">1,261,394</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2016/02/Exhibition_Mercy.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">513</td> <td class=\"cell-2\" style=\"text-align:right;\">1,986,277</td> <td class=\"cell-3\" style=\"text-align:right;\">1,986,658</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2016/02/Exhibition_Angela.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">513</td> <td class=\"cell-2\" style=\"text-align:right;\">1,802,214</td> <td class=\"cell-3\" style=\"text-align:right;\">1,802,595</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2016/02/Exhibition_Jane.jpg</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">203</td> <td class=\"cell-2\" style=\"text-align:right;\">1,237,885</td> <td class=\"cell-3\" style=\"text-align:right;\">1,238,333</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://kids.nationalgeographic.com/content/dam/kids/photos/articles/Other_20Explore_20Photos/A-G/Awesome_208/Harry_20Potter_201.ngsversion.1434549212275.png</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">204</td> <td class=\"cell-2\" style=\"text-align:right;\">1,318,599</td> <td class=\"cell-3\" style=\"text-align:right;\">1,319,047</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://kids.nationalgeographic.com/content/dam/kids/photos/articles/Other_20Explore_20Photos/A-G/Awesome_208/Harry_20Potter_205.ngsversion.1434549256749.png</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">204</td> <td class=\"cell-2\" style=\"text-align:right;\">1,312,612</td> <td class=\"cell-3\" style=\"text-align:right;\">1,313,060</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://kids.nationalgeographic.com/content/dam/kids/photos/articles/Other_20Explore_20Photos/A-G/Awesome_208/Harry_20Potter_204.ngsversion.1434549286253.png</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">204</td> <td class=\"cell-2\" style=\"text-align:right;\">1,127,628</td> <td class=\"cell-3\" style=\"text-align:right;\">1,128,076</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://kids.nationalgeographic.com/content/dam/kids/photos/articles/Other_20Explore_20Photos/A-G/Awesome_208/Harry_20Potter_207.ngsversion.1434549363619.png</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">204</td> <td class=\"cell-2\" style=\"text-align:right;\">1,154,707</td> <td class=\"cell-3\" style=\"text-align:right;\">1,155,155</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://kids.nationalgeographic.com/content/dam/kids/photos/articles/Other_20Explore_20Photos/A-G/Awesome_208/HarryPotter6.ngsversion.1435154187906.png</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">206</td> <td class=\"cell-2\" style=\"text-align:right;\">1,457,251</td> <td class=\"cell-3\" style=\"text-align:right;\">1,457,700</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://kids.nationalgeographic.com/content/dam/kids/photos/articles/History/M-Z/ramadan_Eid_20al-Fitr.ngsversion.1434489593881.jpg</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">743</td> <td class=\"cell-2\" style=\"text-align:right;\">6,086,281</td> <td class=\"cell-3\" style=\"text-align:right;\">6,086,662</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://theplate.nationalgeographic.com/files/2014/07/potato2.jpg</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">744</td> <td class=\"cell-2\" style=\"text-align:right;\">4,556,024</td> <td class=\"cell-3\" style=\"text-align:right;\">4,556,405</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://theplate.nationalgeographic.com/files/2014/07/potato4.jpg</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">948</td> <td class=\"cell-2\" style=\"text-align:right;\">1,567,686</td> <td class=\"cell-3\" style=\"text-align:right;\">1,568,067</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/06/Glenna_Gorodon.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">949</td> <td class=\"cell-2\" style=\"text-align:right;\">1,587,775</td> <td class=\"cell-3\" style=\"text-align:right;\">1,588,156</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/06/Peter_DiCampo.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">949</td> <td class=\"cell-2\" style=\"text-align:right;\">1,695,744</td> <td class=\"cell-3\" style=\"text-align:right;\">1,696,125</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/06/Charlie_Shoemaker.jpeg</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">949</td> <td class=\"cell-2\" style=\"text-align:right;\">1,717,815</td> <td class=\"cell-3\" style=\"text-align:right;\">1,718,196</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/06/Andrea_Bruce.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">949</td> <td class=\"cell-2\" style=\"text-align:right;\">1,567,679</td> <td class=\"cell-3\" style=\"text-align:right;\">1,568,060</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/06/Jane_Hahn.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">949</td> <td class=\"cell-2\" style=\"text-align:right;\">1,367,528</td> <td class=\"cell-3\" style=\"text-align:right;\">1,367,909</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/06/Nana_Kofi_Acquah_1.jpg</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">415</td> <td class=\"cell-2\" style=\"text-align:right;\">1,465,551</td> <td class=\"cell-3\" style=\"text-align:right;\">1,466,000</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://kids.nationalgeographic.com/content/kids/en_US/explore/history/pompeii/_jcr_content/content/textimage_6/image.ngsversion.1474051551206.img.jpg/1474051551206.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">416</td> <td class=\"cell-2\" style=\"text-align:right;\">1,518,775</td> <td class=\"cell-3\" style=\"text-align:right;\">1,519,224</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://kids.nationalgeographic.com/content/kids/en_US/explore/history/pompeii/_jcr_content/content/textimage_0/image.ngsversion.1474051235544.img.jpg/1474051235544.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">416</td> <td class=\"cell-2\" style=\"text-align:right;\">1,711,214</td> <td class=\"cell-3\" style=\"text-align:right;\">1,711,663</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://kids.nationalgeographic.com/content/kids/en_US/explore/history/pompeii/_jcr_content/content/textimage_5/image.ngsversion.1474310154294.img.jpg/1474310154294.jpg</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">416</td> <td class=\"cell-2\" style=\"text-align:right;\">1,410,819</td> <td class=\"cell-3\" style=\"text-align:right;\">1,411,268</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://kids.nationalgeographic.com/content/kids/en_US/explore/history/pompeii/_jcr_content/content/textimage_4/image.ngsversion.1474309106288.img.jpg/1474309106288.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">417</td> <td class=\"cell-2\" style=\"text-align:right;\">1,067,291</td> <td class=\"cell-3\" style=\"text-align:right;\">1,067,740</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://kids.nationalgeographic.com/content/kids/en_US/explore/history/pompeii/_jcr_content/content/textimage_2/image.ngsversion.1474051361651.img.jpg/1474051361651.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">417</td> <td class=\"cell-2\" style=\"text-align:right;\">1,383,560</td> <td class=\"cell-3\" style=\"text-align:right;\">1,384,009</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://kids.nationalgeographic.com/content/kids/en_US/explore/history/pompeii/_jcr_content/content/textimage/image.ngsversion.1474308742860.img.jpg/1474308742860.jpg</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">944</td> <td class=\"cell-2\" style=\"text-align:right;\">1,721,088</td> <td class=\"cell-3\" style=\"text-align:right;\">1,721,537</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://kids.nationalgeographic.com/content/kids/en_US/explore/history/salem-witch-trials/_jcr_content/content/textimage_4/image.ngsversion.1476226377764.img.jpg/1476226377764.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">944</td> <td class=\"cell-2\" style=\"text-align:right;\">1,194,710</td> <td class=\"cell-3\" style=\"text-align:right;\">1,195,159</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://kids.nationalgeographic.com/content/kids/en_US/explore/history/salem-witch-trials/_jcr_content/content/textimage_5/image.ngsversion.1476226701102.img.jpg/1476226701102.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">945</td> <td class=\"cell-2\" style=\"text-align:right;\">2,127,971</td> <td class=\"cell-3\" style=\"text-align:right;\">2,128,420</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://kids.nationalgeographic.com/content/kids/en_US/explore/history/salem-witch-trials/_jcr_content/content/textimage/image.ngsversion.1476226726695.img.jpg/1476226726695.jpg</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">945</td> <td class=\"cell-2\" style=\"text-align:right;\">2,500,298</td> <td class=\"cell-3\" style=\"text-align:right;\">2,500,747</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://kids.nationalgeographic.com/content/kids/en_US/explore/history/salem-witch-trials/_jcr_content/content/textimage_0/image.ngsversion.1476224397993.img.jpg/1476224397993.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">945</td> <td class=\"cell-2\" style=\"text-align:right;\">2,217,747</td> <td class=\"cell-3\" style=\"text-align:right;\">2,218,196</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://kids.nationalgeographic.com/content/kids/en_US/explore/history/salem-witch-trials/_jcr_content/content/textimage_2/image.ngsversion.1476226787517.img.jpg/1476226787517.jpg</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">3,996</td> <td class=\"cell-2\" style=\"text-align:right;\">1,908,034</td> <td class=\"cell-3\" style=\"text-align:right;\">1,908,366</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/impact-report-2014/imgs/bg_mining2.jpg</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">5,536</td> <td class=\"cell-2\" style=\"text-align:right;\">9,463,433</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/impact-report-2014/videos/habitats.mp4</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">366</td> <td class=\"cell-2\" style=\"text-align:right;\">1,139,371</td> <td class=\"cell-3\" style=\"text-align:right;\">1,139,797</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://kids.nationalgeographic.com/content/dam/kids/photos/articles/Other_20Explore_20Photos/A-G/Animal_20Jam/Aj-panda.ngsversion.1499796771054.gif</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">374</td> <td class=\"cell-2\" style=\"text-align:right;\">1,050,964</td> <td class=\"cell-3\" style=\"text-align:right;\">1,051,390</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://kids.nationalgeographic.com/content/dam/kids/photos/articles/Other_20Explore_20Photos/A-G/Animal_20Jam/AJcoyote.ngsversion.1496346395271.gif</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">4,723</td> <td class=\"cell-2\" style=\"text-align:right;\">1,499,372</td> <td class=\"cell-3\" style=\"text-align:right;\">1,499,798</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://kids.nationalgeographic.com/content/dam/kids/photos/games/screen-shots/Quizzes/PQ_20Sharks/sharkspromo.ngsversion.1432658584884.adapt.590.2.png</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">335</td> <td class=\"cell-2\" style=\"text-align:right;\">3,419,400</td> <td class=\"cell-3\" style=\"text-align:right;\">3,419,731</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/foodfeatures/green-revolution/images/img4_2048.png</td></tr>\n    \n    \n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">833</td> <td class=\"cell-2\" style=\"text-align:right;\">1,434,581</td> <td class=\"cell-3\" style=\"text-align:right;\">2,867,774</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://news.nationalgeographic.com/content/dam/news/2015/04/NewsGraphics/Everest_Routes/mov/SW_E.mov</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">834</td> <td class=\"cell-2\" style=\"text-align:right;\">1,391,562</td> <td class=\"cell-3\" style=\"text-align:right;\">2,781,747</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://news.nationalgeographic.com/content/dam/news/2015/04/NewsGraphics/Everest_Routes/mov/N_SW.mov</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">911</td> <td class=\"cell-2\" style=\"text-align:right;\">1,390,234</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://news.nationalgeographic.com/content/dam/news/2015/04/NewsGraphics/Everest_Routes/mov/SW_N.mov</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">912</td> <td class=\"cell-2\" style=\"text-align:right;\">1,292,505</td> <td class=\"cell-3\" style=\"text-align:right;\">2,584,386</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://news.nationalgeographic.com/content/dam/news/2015/04/NewsGraphics/Everest_Routes/mov/N_E.mov</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">912</td> <td class=\"cell-2\" style=\"text-align:right;\">1,270,766</td> <td class=\"cell-3\" style=\"text-align:right;\">2,540,118</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://news.nationalgeographic.com/content/dam/news/2015/04/NewsGraphics/Everest_Routes/mov/E_SW.mov</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">5,678</td> <td class=\"cell-2\" style=\"text-align:right;\">4,120,216</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/05/140521-steinmetz-proof-02.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">5,682</td> <td class=\"cell-2\" style=\"text-align:right;\">2,347,208</td> <td class=\"cell-3\" style=\"text-align:right;\">2,347,589</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/05/140521-steinmetz-proof-10.jpg</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">5,682</td> <td class=\"cell-2\" style=\"text-align:right;\">3,808,058</td> <td class=\"cell-3\" style=\"text-align:right;\">3,808,439</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/05/140521-steinmetz-proof-08.jpg</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">384</td> <td class=\"cell-2\" style=\"text-align:right;\">1,114,569</td> <td class=\"cell-3\" style=\"text-align:right;\">1,114,995</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://kids.nationalgeographic.com/content/dam/kids/photos/articles/Other_20Explore_20Photos/A-G/Awesome_208/baby-animals-1-alpaca.ngsversion.1431042755866.png</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">387</td> <td class=\"cell-2\" style=\"text-align:right;\">1,114,128</td> <td class=\"cell-3\" style=\"text-align:right;\">1,114,554</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://kids.nationalgeographic.com/content/dam/kids/photos/articles/Other_20Explore_20Photos/A-G/Awesome_208/baby-animals-2-mute-swan.ngsversion.1431042685262.png</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">392</td> <td class=\"cell-2\" style=\"text-align:right;\">1,092,769</td> <td class=\"cell-3\" style=\"text-align:right;\">1,093,195</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://kids.nationalgeographic.com/content/dam/kids/photos/articles/Other_20Explore_20Photos/A-G/Awesome_208/baby-animals-4-agouti.ngsversion.1431042960584.png</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">395</td> <td class=\"cell-2\" style=\"text-align:right;\">1,023,862</td> <td class=\"cell-3\" style=\"text-align:right;\">1,024,288</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://kids.nationalgeographic.com/content/dam/kids/photos/articles/Other_20Explore_20Photos/A-G/Awesome_208/baby-animals-5owls.ngsversion.1431106751317.png</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">401</td> <td class=\"cell-2\" style=\"text-align:right;\">1,273,340</td> <td class=\"cell-3\" style=\"text-align:right;\">1,273,766</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://kids.nationalgeographic.com/content/dam/kids/photos/articles/Other_20Explore_20Photos/A-G/Awesome_208/baby-animals-7-boars.ngsversion.1431043464330.png</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">797</td> <td class=\"cell-2\" style=\"text-align:right;\">1,194,870</td> <td class=\"cell-3\" style=\"text-align:right;\">1,195,251</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2015/06/6060225_uploadsmember292712yourshot-292712-6060225jpg_vqqxb6qy5ha54j52774rzhgr5izxs2udwatjavjxeftgooyp4jfa_5616x3744.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">797</td> <td class=\"cell-2\" style=\"text-align:right;\">1,874,989</td> <td class=\"cell-3\" style=\"text-align:right;\">1,875,370</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2015/06/5992178_uploadsmember234950yourshot-234950-5992178jpg_qhelgxnmydgilm5aczt2v5zsstp3eflutfvvbpyjwjhzlmh4iziq_3500x1969.jpg</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">797</td> <td class=\"cell-2\" style=\"text-align:right;\">2,114,098</td> <td class=\"cell-3\" style=\"text-align:right;\">2,114,479</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2015/06/6027095_uploadsmember245998yourshot-245998-6027095jpg_gy5oj5nw6vujraefvyyfqhjgolp3eflutfvvbpyjwjhzlmh4iziq_4885x3257.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">798</td> <td class=\"cell-2\" style=\"text-align:right;\">1,929,725</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2015/06/5986999_uploadsmember996916yourshot-996916-5986999jpg_4xvfwejfkvzh5qcjcuhqep2d5dp3eflutfvvbpyjwjhzlmh4iziq_5760x3840.jpg</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">4,148</td> <td class=\"cell-2\" style=\"text-align:right;\">1,395,481</td> <td class=\"cell-3\" style=\"text-align:right;\">1,395,880</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://ngm.nationalgeographic.com/2014/10/spinosaurus/img/superjaws-opening.mp4</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">4,160</td> <td class=\"cell-2\" style=\"text-align:right;\">1,337,946</td> <td class=\"cell-3\" style=\"text-align:right;\">1,338,345</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://ngm.nationalgeographic.com/2014/10/spinosaurus/img/sequence-1.mp4</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">4,163</td> <td class=\"cell-2\" style=\"text-align:right;\">1,346,924</td> <td class=\"cell-3\" style=\"text-align:right;\">1,347,323</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://ngm.nationalgeographic.com/2014/10/spinosaurus/img/sequence-2.mp4</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">4,166</td> <td class=\"cell-2\" style=\"text-align:right;\">1,346,627</td> <td class=\"cell-3\" style=\"text-align:right;\">1,347,026</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://ngm.nationalgeographic.com/2014/10/spinosaurus/img/sequence-3.mp4</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">4,168</td> <td class=\"cell-2\" style=\"text-align:right;\">1,344,521</td> <td class=\"cell-3\" style=\"text-align:right;\">1,344,920</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://ngm.nationalgeographic.com/2014/10/spinosaurus/img/sequence-4.mp4</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">703</td> <td class=\"cell-2\" style=\"text-align:right;\">1,337,569</td> <td class=\"cell-3\" style=\"text-align:right;\">1,338,017</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://kids.nationalgeographic.com/content/dam/kids/photos/articles/Other_20Explore_20Photos/A-G/Awesome_208/Pools1.ngsversion.1483105025610.png</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">703</td> <td class=\"cell-2\" style=\"text-align:right;\">1,120,468</td> <td class=\"cell-3\" style=\"text-align:right;\">1,120,916</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://kids.nationalgeographic.com/content/dam/kids/photos/articles/Other_20Explore_20Photos/A-G/Awesome_208/Pools2.ngsversion.1435148516993.png</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">703</td> <td class=\"cell-2\" style=\"text-align:right;\">1,134,681</td> <td class=\"cell-3\" style=\"text-align:right;\">1,135,129</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://kids.nationalgeographic.com/content/dam/kids/photos/articles/Other_20Explore_20Photos/A-G/Awesome_208/Pools3.ngsversion.1433264657513.png</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">704</td> <td class=\"cell-2\" style=\"text-align:right;\">1,303,275</td> <td class=\"cell-3\" style=\"text-align:right;\">1,303,723</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://kids.nationalgeographic.com/content/dam/kids/photos/articles/Other_20Explore_20Photos/A-G/Awesome_208/Pools4.ngsversion.1433264530275.png</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">704</td> <td class=\"cell-2\" style=\"text-align:right;\">1,261,429</td> <td class=\"cell-3\" style=\"text-align:right;\">1,261,877</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://kids.nationalgeographic.com/content/dam/kids/photos/articles/Other_20Explore_20Photos/A-G/Awesome_208/Pools7.ngsversion.1433264411151.png</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">655</td> <td class=\"cell-2\" style=\"text-align:right;\">2,658,671</td> <td class=\"cell-3\" style=\"text-align:right;\">2,659,051</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://tvblogs.nationalgeographic.com/files/2014/08/monkeyfight.gif</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">656</td> <td class=\"cell-2\" style=\"text-align:right;\">1,309,820</td> <td class=\"cell-3\" style=\"text-align:right;\">1,310,200</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://tvblogs.nationalgeographic.com/files/2014/08/paperthrow.gif</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">657</td> <td class=\"cell-2\" style=\"text-align:right;\">1,735,823</td> <td class=\"cell-3\" style=\"text-align:right;\">1,736,203</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://tvblogs.nationalgeographic.com/files/2014/08/cliff-yell.gif</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">658</td> <td class=\"cell-2\" style=\"text-align:right;\">1,109,211</td> <td class=\"cell-3\" style=\"text-align:right;\">1,109,591</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://tvblogs.nationalgeographic.com/files/2014/08/laptopman.gif</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">661</td> <td class=\"cell-2\" style=\"text-align:right;\">2,010,029</td> <td class=\"cell-3\" style=\"text-align:right;\">2,010,409</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://tvblogs.nationalgeographic.com/files/2014/08/slap.gif</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">837</td> <td class=\"cell-2\" style=\"text-align:right;\">1,534,699</td> <td class=\"cell-3\" style=\"text-align:right;\">1,535,080</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2013/10/5_Jeremy-Lock-Combat-Photography.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">837</td> <td class=\"cell-2\" style=\"text-align:right;\">1,614,783</td> <td class=\"cell-3\" style=\"text-align:right;\">1,615,164</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2013/10/3_Jeremy-Lock-Combat-Photography.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">837</td> <td class=\"cell-2\" style=\"text-align:right;\">2,122,026</td> <td class=\"cell-3\" style=\"text-align:right;\">2,122,407</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2013/10/2_Jeremy-Lock-Combat-Photography.jpg</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">837</td> <td class=\"cell-2\" style=\"text-align:right;\">1,443,753</td> <td class=\"cell-3\" style=\"text-align:right;\">1,444,134</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2013/10/6_Jeremy-Lock-Combat-Photography.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">837</td> <td class=\"cell-2\" style=\"text-align:right;\">1,568,768</td> <td class=\"cell-3\" style=\"text-align:right;\">1,569,149</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2013/10/4_Jeremy-Lock-Combat-Photography.jpg</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">581</td> <td class=\"cell-2\" style=\"text-align:right;\">1,702,398</td> <td class=\"cell-3\" style=\"text-align:right;\">1,702,779</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/06/prod-yourshot-654661-3523860.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">581</td> <td class=\"cell-2\" style=\"text-align:right;\">1,005,982</td> <td class=\"cell-3\" style=\"text-align:right;\">1,006,362</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/06/prod-yourshot-129396-3515938.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">581</td> <td class=\"cell-2\" style=\"text-align:right;\">1,480,013</td> <td class=\"cell-3\" style=\"text-align:right;\">1,480,394</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/06/prod-yourshot-648882-3521543.jpg</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">581</td> <td class=\"cell-2\" style=\"text-align:right;\">1,262,869</td> <td class=\"cell-3\" style=\"text-align:right;\">1,263,250</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/06/prod-yourshot-615914-3488323.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">582</td> <td class=\"cell-2\" style=\"text-align:right;\">1,925,328</td> <td class=\"cell-3\" style=\"text-align:right;\">1,925,709</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/06/prod-yourshot-652925-3529364.jpg</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">306</td> <td class=\"cell-2\" style=\"text-align:right;\">1,449,428</td> <td class=\"cell-3\" style=\"text-align:right;\">1,449,809</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2016/01/160127-ellingson-stumps-04.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">306</td> <td class=\"cell-2\" style=\"text-align:right;\">1,237,056</td> <td class=\"cell-3\" style=\"text-align:right;\">1,237,437</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2016/01/160127-ellingson-stumps-03.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">306</td> <td class=\"cell-2\" style=\"text-align:right;\">1,447,252</td> <td class=\"cell-3\" style=\"text-align:right;\">1,447,633</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2016/01/160127-ellingson-stumps-05.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">307</td> <td class=\"cell-2\" style=\"text-align:right;\">1,117,231</td> <td class=\"cell-3\" style=\"text-align:right;\">1,117,612</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2016/01/160127-ellingson-stumps-07.jpg</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">307</td> <td class=\"cell-2\" style=\"text-align:right;\">1,410,712</td> <td class=\"cell-3\" style=\"text-align:right;\">1,411,093</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2016/01/160127-ellingson-stumps-06.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">307</td> <td class=\"cell-2\" style=\"text-align:right;\">1,183,860</td> <td class=\"cell-3\" style=\"text-align:right;\">1,184,241</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2016/01/160127-ellingson-stumps-08.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">308</td> <td class=\"cell-2\" style=\"text-align:right;\">1,023,727</td> <td class=\"cell-3\" style=\"text-align:right;\">1,024,107</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2016/01/160127-ellingson-stumps-01.jpg</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">2,054</td> <td class=\"cell-2\" style=\"text-align:right;\">1,394,147</td> <td class=\"cell-3\" style=\"text-align:right;\">1,394,479</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/new-york-city-skyline-tallest-midtown-manhattan/assets/img/skyline-downtown/filmstripWTC-60.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">2,055</td> <td class=\"cell-2\" style=\"text-align:right;\">1,131,177</td> <td class=\"cell-3\" style=\"text-align:right;\">1,131,509</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/new-york-city-skyline-tallest-midtown-manhattan/assets/img/skyline-midtown/filmstripHudson2-60.jpg</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">2,055</td> <td class=\"cell-2\" style=\"text-align:right;\">1,246,154</td> <td class=\"cell-3\" style=\"text-align:right;\">1,246,486</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/new-york-city-skyline-tallest-midtown-manhattan/assets/img/skyline-midtown/filmstrip57th2-60.jpg</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">1,784</td> <td class=\"cell-2\" style=\"text-align:right;\">5,893,791</td> <td class=\"cell-3\" style=\"text-align:right;\">5,894,240</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://kids.nationalgeographic.com/content/dam/kids/photos/articles/Other_20Explore_20Photos/H-P/Halloween/HH-JailedPumpkin.ngsversion.1411499414438.jpg</td></tr>\n    \n    \n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">446</td> <td class=\"cell-2\" style=\"text-align:right;\">1,745,392</td> <td class=\"cell-3\" style=\"text-align:right;\">1,745,773</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/06/Stevens_Overburden_02.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">446</td> <td class=\"cell-2\" style=\"text-align:right;\">1,420,274</td> <td class=\"cell-3\" style=\"text-align:right;\">1,420,655</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/06/Stevens_MTR_edit_06.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">446</td> <td class=\"cell-2\" style=\"text-align:right;\">1,508,930</td> <td class=\"cell-3\" style=\"text-align:right;\">1,509,311</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/06/Stevens_Overburden_03.jpg</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">447</td> <td class=\"cell-2\" style=\"text-align:right;\">1,764,974</td> <td class=\"cell-3\" style=\"text-align:right;\">1,765,355</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/06/Stevens_Overburden_05.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">447</td> <td class=\"cell-2\" style=\"text-align:right;\">2,076,698</td> <td class=\"cell-3\" style=\"text-align:right;\">2,077,079</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/06/Stevens_Overburden_06.jpg</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">746</td> <td class=\"cell-2\" style=\"text-align:right;\">1,193,882</td> <td class=\"cell-3\" style=\"text-align:right;\">1,194,262</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://tvblogs.nationalgeographic.com/files/2014/03/tardigrade_swim.gif</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">749</td> <td class=\"cell-2\" style=\"text-align:right;\">1,618,975</td> <td class=\"cell-3\" style=\"text-align:right;\">1,619,355</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://tvblogs.nationalgeographic.com/files/2014/03/neil_1.gif</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">755</td> <td class=\"cell-2\" style=\"text-align:right;\">1,634,709</td> <td class=\"cell-3\" style=\"text-align:right;\">1,635,089</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://tvblogs.nationalgeographic.com/files/2014/03/neil_small.gif</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">764</td> <td class=\"cell-2\" style=\"text-align:right;\">1,603,868</td> <td class=\"cell-3\" style=\"text-align:right;\">1,604,248</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://tvblogs.nationalgeographic.com/files/2014/03/neil_2.gif</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">770</td> <td class=\"cell-2\" style=\"text-align:right;\">2,646,455</td> <td class=\"cell-3\" style=\"text-align:right;\">2,646,836</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/05/NationalGeographic_1562510.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">770</td> <td class=\"cell-2\" style=\"text-align:right;\">1,502,777</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/05/IG_Sherpa.jpg</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">770</td> <td class=\"cell-2\" style=\"text-align:right;\">2,287,842</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/05/NationalGeographic_1561957.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">770</td> <td class=\"cell-2\" style=\"text-align:right;\">1,186,104</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://proof.nationalgeographic.com/files/2014/05/MM8076_0001205_002201-Edit-1.jpg</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">664</td> <td class=\"cell-2\" style=\"text-align:right;\">1,699,863</td> <td class=\"cell-3\" style=\"text-align:right;\">1,700,244</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://phenomena.nationalgeographic.com/files/2016/05/BH91DH.jpg</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">664</td> <td class=\"cell-2\" style=\"text-align:right;\">1,188,855</td> <td class=\"cell-3\" style=\"text-align:right;\">1,189,236</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://phenomena.nationalgeographic.com/files/2016/05/stravinsky-artistic-limitation-composer-no2.jpg</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">365</td> <td class=\"cell-2\" style=\"text-align:right;\">2,088,642</td> <td class=\"cell-3\" style=\"text-align:right;\">2,089,023</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://phenomena.nationalgeographic.com/files/2013/02/Misbegotten-Helicos_color.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">365</td> <td class=\"cell-2\" style=\"text-align:right;\">2,072,538</td> <td class=\"cell-3\" style=\"text-align:right;\">2,072,919</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://phenomena.nationalgeographic.com/files/2013/02/Helicoprion-Head-Ray-Troll-2013.jpg</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">818</td> <td class=\"cell-2\" style=\"text-align:right;\">1,188,855</td> <td class=\"cell-3\" style=\"text-align:right;\">1,189,236</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://phenomena.nationalgeographic.com/files/2016/05/stravinsky-artistic-limitation-composer-no2.jpg</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">818</td> <td class=\"cell-2\" style=\"text-align:right;\">1,699,863</td> <td class=\"cell-3\" style=\"text-align:right;\">1,700,244</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://phenomena.nationalgeographic.com/files/2016/05/BH91DH.jpg</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">278</td> <td class=\"cell-2\" style=\"text-align:right;\">2,022,241</td> <td class=\"cell-3\" style=\"text-align:right;\">2,022,589</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://ngm.nationalgeographic.com/2015/12/leopards/img/leopard-final-big-cat-week-2048.jpg</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">279</td> <td class=\"cell-2\" style=\"text-align:right;\">1,537,509</td> <td class=\"cell-3\" style=\"text-align:right;\">1,537,857</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://ngm.nationalgeographic.com/2015/12/leopards/img/paired-2048.jpg</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">297,878</td> <td class=\"cell-4\" style=\"text-align:right;\">8.973</td> <td class=\"cell-5\" style=\"text-align:right;\">4.563</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">596.31</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">178,752</td> <td class=\"cell-4\" style=\"text-align:right;\">14.222</td> <td class=\"cell-5\" style=\"text-align:right;\">8.098</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.758</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">41,613</td> <td class=\"cell-4\" style=\"text-align:right;\">13.441</td> <td class=\"cell-5\" style=\"text-align:right;\">8.271</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">576.977</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">740</td> <td class=\"cell-2\" style=\"text-align:right;\">1,548,187</td> <td class=\"cell-3\" style=\"text-align:right;\">1,548,518</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/foodfeatures/hunger/images/USA_map_web2.png</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">740</td> <td class=\"cell-2\" style=\"text-align:right;\">1,070,272</td> <td class=\"cell-3\" style=\"text-align:right;\">1,070,603</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/foodfeatures/hunger/images/Houston_map_web.png</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">740</td> <td class=\"cell-2\" style=\"text-align:right;\">1,026,196</td> <td class=\"cell-3\" style=\"text-align:right;\">1,026,528</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/foodfeatures/hunger/images/slideShow/images_1536/newyork1_1536.jpg</td></tr>\n    </tbody>\n")

In [ ]:
q = query(""" drop view if exists $(UP.btView);""")
;