In [1]:
using ODBC
using DataFrames
using DSWB
using Formatting

dsn = "dswb-natgeo" # Redshift endpoint
table = "beacons_4744" # beacon table name
tableRt = "beacons_4744_rt"

# Connect to Beacon Data
setRedshiftEndpoint(dsn)
setTable(table)
# setTable(tableRt, tableType = "RESOURCE_TABLE")
;

Redshift endpoint set: 2017-11-28T08:11:00

In [2]:
include("../../Lib/Include-Package-v2.1.jl")
;

In [3]:
#TV = timeVariables(2017,6,8,10,59,2017,6,8,12,59)
#TV = weeklyTimeVariables(days=1)
TV = yesterdayTimeVariables()
;

November 27, 2017 06:59:00 to November 27, 2017 16:59:00 Local Time
November 27, 2017 11:59:00 to November 27, 2017 21:59:00 UTC Time

In [4]:
UP = UrlParamsInit("Group_NoPageGroup_SQL_Mining")
UP.agentOs = "%"
UP.deviceType = "%"
UP.limitRows = 250
UP.orderBy = "time"
UP.pageGroup = "(No Page Group)"   #productPageGroup
UP.samplesMin = 10
UP.sizeMin = 10000
UP.timeLowerMs = 2000.0
UP.timeUpperMs = 60000.0
UP.urlRegEx = "%"   #localUrl
UP.urlFull = "%"
UP.usePageLoad=false
UrlParamsValidate(UP)

SP = ShowParamsInit()
SP.criticalPathOnly=true
SP.desktop=true
SP.devView=false
SP.debug=false
SP.debugLevel = 0   # Tests use even numbers with > tests, make this an odd number or zero
SP.mobile=true
SP.showLines = 25
ShowParamsValidate(SP)
;

In [5]:
dumpDataFieldsV2Workflow(TV,UP,SP)
;

beacons_4744_sql_no_page_group_view count is 31

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">url</th> <th class=\"cell-2\" style=\"\">count</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">http://travel.nationalgeographic.com/</td> <td class=\"cell-2\" style=\"text-align:right;\">20</td></tr>\n<tr><td class=\"cell-1\" style=\"\">https://news.nationalgeographic.com/</td> <td class=\"cell-2\" style=\"text-align:right;\">7</td></tr>\n<tr><td class=\"cell-1\" style=\"\">https://www.nationalgeographic.com/</td> <td class=\"cell-2\" style=\"text-align:right;\">2</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">https://ngkidsubs.nationalgeographic.com/</td> <td class=\"cell-2\" style=\"text-align:right;\">1</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://animals.nationalgeographic.com/</td> <td class=\"cell-2\" style=\"text-align:right;\">1</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">count</th> <th class=\"cell-2\" style=\"\">url</th> <th class=\"cell-3\" style=\"\">params u</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">6</td> <td class=\"cell-2\" style=\"\">http://travel.nationalgeographic.com/</td> <td class=\"cell-3\" style=\"\">http://travel.nationalgeographic.com/photo-contest-2015/gallery/week-11-all/35</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">4</td> <td class=\"cell-2\" style=\"\">http://travel.nationalgeographic.com/</td> <td class=\"cell-3\" style=\"\">http://travel.nationalgeographic.com/photo-contest-2015/gallery/winners-all/1</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">3</td> <td class=\"cell-2\" style=\"\">https://news.nationalgeographic.com/</td> <td class=\"cell-3\" style=\"\">https://news.nationalgeographic.com/news2013/13/130422-avalanche-safety-tips/</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1</td> <td class=\"cell-2\" style=\"\">https://news.nationalgeographic.com/</td> <td class=\"cell-3\" style=\"\">https://news.nationalgeographic.com/SyncId=2EAAF184-C157-3F47-887D-44FAFE57CD08/</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1</td> <td class=\"cell-2\" style=\"\">https://www.nationalgeographic.com/</td> <td class=\"cell-3\" style=\"\">https://www.nationalgeographic.com/2017/03/</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1</td> <td class=\"cell-2\" style=\"\">http://travel.nationalgeographic.com/</td> <td class=\"cell-3\" style=\"\">http://travel.nationalgeographic.com/photo-contest-2015/gallery/week-2-all/9</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1</td> <td class=\"cell-2\" style=\"\">http://travel.nationalgeographic.com/</td> <td class=\"cell-3\" style=\"\">http://travel.nationalgeographic.com/photo-contest-2015/gallery/week-10-all/27</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1</td> <td class=\"cell-2\" style=\"\">https://news.nationalgeographic.com/</td> <td class=\"cell-3\" style=\"\">https://news.nationalgeographic.com/2017/pentagon-fights-climate-change-sea-level-rise-defense-department-military/</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1</td> <td class=\"cell-2\" style=\"\">http://travel.nationalgeographic.com/</td> <td class=\"cell-3\" style=\"\">http://travel.nationalgeographic.com/photo-contest-2015/gallery/winners-all/8</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1</td> <td class=\"cell-2\" style=\"\">http://travel.nationalgeographic.com/</td> <td class=\"cell-3\" style=\"\">http://travel.nationalgeographic.com/photo-contest-2015/gallery/week-8-all/21</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1</td> <td class=\"cell-2\" style=\"\">https://news.nationalgeographic.com/</td> <td class=\"cell-3\" style=\"\">https://news.nationalgeographic.com/news2004/03/03011_040311_idesmarch_2/</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">1</td> <td class=\"cell-2\" style=\"\">http://travel.nationalgeographic.com/</td> <td class=\"cell-3\" style=\"\">http://travel.nationalgeographic.com/photo-contest-2015/gallery/week-12-all/29</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1</td> <td class=\"cell-2\" style=\"\">https://www.nationalgeographic.com/</td> <td class=\"cell-3\" style=\"\">https://www.nationalgeographic.com/2.0%20DNA%20ANCESTRY%20KIT</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1</td> <td class=\"cell-2\" style=\"\">https://news.nationalgeographic.com/</td> <td class=\"cell-3\" style=\"\">https://news.nationalgeographic.com/%202017/04/wildlife-watch-wildlife-services-cyanide-idaho-predator-control/</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1</td> <td class=\"cell-2\" style=\"\">http://travel.nationalgeographic.com/</td> <td class=\"cell-3\" style=\"\">http://travel.nationalgeographic.com/photo-contest-2015/gallery/week-9-all/11</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1</td> <td class=\"cell-2\" style=\"\">https://ngkidsubs.nationalgeographic.com/</td> <td class=\"cell-3\" style=\"\">https://ngkidsubs.nationalgeographic.com/servlet/Show?WESPAGE=OrderPages/tr/1311/thanks_dgprt_15A3.jsp&MSRSMAG=TR&EFK1=TRAKXH&EFK2=TRAKXF&EFK3=TRAKXJ&MSCCMPLX=WOTYPXSL1</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1</td> <td class=\"cell-2\" style=\"\">http://travel.nationalgeographic.com/</td> <td class=\"cell-3\" style=\"\">http://travel.nationalgeographic.com/photo-contest-2015/gallery/week-12-all/30</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1</td> <td class=\"cell-2\" style=\"\">http://travel.nationalgeographic.com/</td> <td class=\"cell-3\" style=\"\">http://travel.nationalgeographic.com/photo-contest-2015/all-entries</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1</td> <td class=\"cell-2\" style=\"\">http://travel.nationalgeographic.com/</td> <td class=\"cell-3\" style=\"\">http://travel.nationalgeographic.com/travel/countries/patagonia-photos/</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1</td> <td class=\"cell-2\" style=\"\">http://travel.nationalgeographic.com/</td> <td class=\"cell-3\" style=\"\">http://travel.nationalgeographic.com/photo-contest-2015/my-entries</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1</td> <td class=\"cell-2\" style=\"\">http://animals.nationalgeographic.com/</td> <td class=\"cell-3\" style=\"\">http://animals.nationalgeographic.com/animals/mammals/opossum/</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr></tr></thead>\n    <tbody>\n    \n    \n    \n    </tbody>\n")