In [1]:
using ODBC
using DataFrames
using DSWB
using Formatting

dsn = "dswb-natgeo" # Redshift esetTable(tableRt, tableType = "RESOURCE_TABLE")ndpoint
table = "beacons_4744" # beacon table name
tableRt = "beacons_4744_rt"

# Connect to Beacon Data
setRedshiftEndpoint(dsn)
setTable(tableRt, tableType = "RESOURCE_TABLE")
setTable(table)

Redshift endpoint set: 2017-06-09T01:29:14

"beacons_4744"

In [2]:
# Packages
include("/data/notebook_home/Production/Lib/Include-Package-v1.0.jl")
include("/data/notebook_home/Production/Bodies/AEM-Large-Images-Body-v1.0.jl")

# Time values (tv.) structure created in include above, so init time here
#timeVariables(2017,1,2,2,30,2017,1,2,2,45);
timeVariables(2017,6,7,10,0,2017,6,7,10,9);
#weeklyTimeVariables(days=1);

June 7, 2017 10:00:00 to June 7, 2017 10:09:00 Local Time
June 7, 2017 14:00:00 to June 7, 2017 14:09:00 UTC Time

In [3]:
UP = UrlParamsInit()
UP.beaconTable = table   #table
UP.resourceTable = tableRt
UP.btView = "$(table)_AEM_Large_Images_view" #localtable
UP.pageGroup = "%"   #productPageGroup
UP.urlRegEx = "%"   #localUrl
UP.deviceType = "mobile"

SG = SoastaGraphsInit()
customer = "Nat Geo" 
SG.customer = customer

linesOutput = 3
;

In [4]:
defaultLocalTableALI(tv,UP)
;

beacons_4744_AEM_Large_Images_view count is 449

In [5]:
joinTables = DataFrame()
joinTables = gatherSizeDataALI(UP,linesOutput)
;

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">urlgroup</th> <th class=\"cell-2\" style=\"\">session id</th> <th class=\"cell-3\" style=\"\">timestamp</th> <th class=\"cell-4\" style=\"\">encoded</th> <th class=\"cell-5\" style=\"\">transferred</th> <th class=\"cell-6\" style=\"\">decoded</th> <th class=\"cell-7\" style=\"\">count</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/magazines/pdf/060717_dom/indexB6.html</td> <td class=\"cell-2\" style=\"\">872dcb04-713c-44a9-b128-103fc55cfaf7-or6kc6</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-06-07T14:02:35.218</td> <td class=\"cell-4\" style=\"text-align:right;\">5,375,126</td> <td class=\"cell-5\" style=\"text-align:right;\">5,388,342</td> <td class=\"cell-6\" style=\"text-align:right;\">316,376</td> <td class=\"cell-7\" style=\"text-align:right;\">32</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/magazines/pdf/060717_dom/indexB6.html</td> <td class=\"cell-2\" style=\"\">4abf4cc6-8f62-499e-bd36-ac1809eb8aae-or6k2e</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-06-07T14:00:34.937</td> <td class=\"cell-4\" style=\"text-align:right;\">5,375,126</td> <td class=\"cell-5\" style=\"text-align:right;\">5,412,934</td> <td class=\"cell-6\" style=\"text-align:right;\">316,376</td> <td class=\"cell-7\" style=\"text-align:right;\">32</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/magazines/pdf/060717_dom/indexC4.html</td> <td class=\"cell-2\" style=\"\">a0139114-cefe-438d-bac6-bad833ba9565-or6kkt</td> <td class=\"cell-3\" style=\"text-align:right;\">2017-06-07T14:07:47.409</td> <td class=\"cell-4\" style=\"text-align:right;\">5,375,126</td> <td class=\"cell-5\" style=\"text-align:right;\">5,376,237</td> <td class=\"cell-6\" style=\"text-align:right;\">316,376</td> <td class=\"cell-7\" style=\"text-align:right;\">32</td></tr>\n    </tbody>\n")

In [6]:
joinTableSummary = DataFrame()
joinTableSummary = tableSummaryALI(joinTables)
;

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">urlgroup</th> <th class=\"cell-2\" style=\"\">encoded</th> <th class=\"cell-3\" style=\"\">transferred</th> <th class=\"cell-4\" style=\"\">decoded</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/magazines/pdf/060717_dom/indexB6.html</td> <td class=\"cell-2\" style=\"text-align:right;\">5,375,126</td> <td class=\"cell-3\" style=\"text-align:right;\">5,388,342</td> <td class=\"cell-4\" style=\"text-align:right;\">316,376</td></tr>\n<tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/magazines/pdf/060717_dom/indexC4.html</td> <td class=\"cell-2\" style=\"text-align:right;\">5,375,126</td> <td class=\"cell-3\" style=\"text-align:right;\">5,376,237</td> <td class=\"cell-4\" style=\"text-align:right;\">316,376</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">http://www.nationalgeographic.com/travel</td> <td class=\"cell-2\" style=\"text-align:right;\">3,676,998</td> <td class=\"cell-3\" style=\"text-align:right;\">24,770</td> <td class=\"cell-4\" style=\"text-align:right;\">2,682,007</td></tr>\n    </tbody>\n")

In [7]:
i = 0
for row in eachrow(joinTableSummary)
    i += 1
    detailsPrint(UP,joinTableSummary,i)
    statsDetailsPrint(UP,joinTableSummary,i)
    if (i >= linesOutput)
        break;
    end
end
;

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\"></td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"text-align:right;\">0</td> <td class=\"cell-5\" style=\"text-align:right;\">0</td> <td class=\"cell-6\" style=\"text-align:right;\">0</td> <td class=\"cell-7\" style=\"text-align:right;\">0</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">440</td> <td class=\"cell-4\" style=\"text-align:right;\">13.065</td> <td class=\"cell-5\" style=\"text-align:right;\">8.06</td> <td class=\"cell-6\" style=\"text-align:right;\">0.638</td> <td class=\"cell-7\" style=\"text-align:right;\">99.995</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\"></td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"text-align:right;\">0</td> <td class=\"cell-5\" style=\"text-align:right;\">0</td> <td class=\"cell-6\" style=\"text-align:right;\">0</td> <td class=\"cell-7\" style=\"text-align:right;\">0</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\"></td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"text-align:right;\">0</td> <td class=\"cell-5\" style=\"text-align:right;\">0</td> <td class=\"cell-6\" style=\"text-align:right;\">0</td> <td class=\"cell-7\" style=\"text-align:right;\">0</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">440</td> <td class=\"cell-4\" style=\"text-align:right;\">13.065</td> <td class=\"cell-5\" style=\"text-align:right;\">8.06</td> <td class=\"cell-6\" style=\"text-align:right;\">0.638</td> <td class=\"cell-7\" style=\"text-align:right;\">99.995</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\"></td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"text-align:right;\">0</td> <td class=\"cell-5\" style=\"text-align:right;\">0</td> <td class=\"cell-6\" style=\"text-align:right;\">0</td> <td class=\"cell-7\" style=\"text-align:right;\">0</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">start time</th> <th class=\"cell-2\" style=\"\">encoded size</th> <th class=\"cell-3\" style=\"\">transferred size</th> <th class=\"cell-4\" style=\"\">decoded size</th> <th class=\"cell-5\" style=\"\">urlgroup</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">677</td> <td class=\"cell-2\" style=\"text-align:right;\">2,210,599</td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"\"></td> <td class=\"cell-5\" style=\"\">http://www.nationalgeographic.com/content/dam/travel/rights-exempt/travel-2017/april-may-traveler-cover/april-may-nat-geo-traveler-cover.ngsversion.1493316249727.jpg</td></tr>\n    \n    \n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">RefGroup</th> <th class=\"cell-2\" style=\"\">Unit</th> <th class=\"cell-3\" style=\"\">Count</th> <th class=\"cell-4\" style=\"\">Mean</th> <th class=\"cell-5\" style=\"\">Median</th> <th class=\"cell-6\" style=\"\">Min</th> <th class=\"cell-7\" style=\"\">Max</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">Desktop</td> <td class=\"cell-2\" style=\"\"></td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"text-align:right;\">0</td> <td class=\"cell-5\" style=\"text-align:right;\">0</td> <td class=\"cell-6\" style=\"text-align:right;\">0</td> <td class=\"cell-7\" style=\"text-align:right;\">0</td></tr>\n<tr><td class=\"cell-1\" style=\"\">Mobile</td> <td class=\"cell-2\" style=\"\">seconds</td> <td class=\"cell-3\" style=\"text-align:right;\">440</td> <td class=\"cell-4\" style=\"text-align:right;\">13.065</td> <td class=\"cell-5\" style=\"text-align:right;\">8.06</td> <td class=\"cell-6\" style=\"text-align:right;\">0.638</td> <td class=\"cell-7\" style=\"text-align:right;\">99.995</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">Tablet</td> <td class=\"cell-2\" style=\"\"></td> <td class=\"cell-3\" style=\"text-align:right;\">0</td> <td class=\"cell-4\" style=\"text-align:right;\">0</td> <td class=\"cell-5\" style=\"text-align:right;\">0</td> <td class=\"cell-6\" style=\"text-align:right;\">0</td> <td class=\"cell-7\" style=\"text-align:right;\">0</td></tr>\n    </tbody>\n")

In [8]:
q = query(""" drop view if exists $(UP.btView);""")
;