## Tables and Data Source setup

In [1]:
using ODBC
using DataFrames
using DSWB
using Formatting
using URIParser
using JSON

dsn = "dswb-natgeo" # Redshift esetTable(tableRt, tableType = "RESOURCE_TABLE")ndpoint
table = "beacons_4744" # beacon table name
tableRt = "beacons_4744_rt"

# Connect to Beacon Data
setRedshiftEndpoint(dsn)
setTable(table)
setTable(tableRt, tableType = "RESOURCE_TABLE")
;

Redshift endpoint set: 2017-11-21T21:11:25

In [2]:
# Time & Structures First
include("../../Lib/Include-Package-v2.1.jl")
;

In [3]:
#TV = timeVariables(2017,5,9,16,0,2017,5,9,16,59)
#TV = weeklyTimeVariables(days=7)
TV = yesterdayTimeVariables()
;

November 20, 2017 06:59:00 to November 20, 2017 16:59:00 Local Time
November 20, 2017 11:59:00 to November 20, 2017 21:59:00 UTC Time

In [4]:
# This is the Mobile Only, Size based report

UP = UrlParamsInit()
UP.agentOs = "%"
UP.beaconTable = table
UP.btView = "$(table)_spike_pview_prod" #localtable
UP.deviceType = "mobile"
UP.limitRows = 10
#UP.limitRows = 250
UP.orderBy = "size"
UP.pageGroup = "%"   #productPageGroup
UP.resourceTable = tableRt
UP.rtView = "$(tableRt)_spike_pview_prod" #localtableRt
UP.samplesMin = 10
UP.sizeMin = 10000
UP.timeLowerMs = 2000.0
UP.timeUpperMs = 60000.0
UP.urlRegEx = "%"   #localUrl
UP.urlFull = "%"
UP.usePageLoad=false

SP = ShowParamsInit()
SP.desktop=false
SP.mobile=true
SP.devView=false
SP.criticalPathOnly=true
SP.debug=false
SP.debugLevel = 0   # Tests use even numbers with > tests, make this an odd number or zero

type LocalVars
    useJson::Bool
end

LV = LocalVars(false) #useJSon = false
;

In [6]:
individualStreamlineWorkFlow(TV,UP,SP)
;

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">Recent Urls (Sorted By Size Descending; Min Samples  10 ; Top  10  Page Views)</th> <th class=\"cell-2\" style=\"\">Time</th> <th class=\"cell-3\" style=\"\">Request Made</th> <th class=\"cell-4\" style=\"\">Page Size</th> <th class=\"cell-5\" style=\"\">Samples</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">/www.nationalgeographic.com/magazine/2017/11/vaccine-health-infection-global-children/%</td> <td class=\"cell-2\" style=\"text-align:right;\">9,370</td> <td class=\"cell-3\" style=\"text-align:right;\">95</td> <td class=\"cell-4\" style=\"text-align:right;\">1,661,970</td> <td class=\"cell-5\" style=\"text-align:right;\">2,251</td></tr>\n<tr><td class=\"cell-1\" style=\"\">/www.nationalgeographic.com/travel/lists/travel-gear/top-10-compact-cameras-travel/%</td> <td class=\"cell-2\" style=\"text-align:right;\">13,859</td> <td class=\"cell-3\" style=\"text-align:right;\">91</td> <td class=\"cell-4\" style=\"text-align:right;\">1,536,469</td> <td class=\"cell-5\" style=\"text-align:right;\">3,496</td></tr>\n<tr><td class=\"cell-1\" style=\"\">/www.nationalgeographic.com/magazine/2012/04/titanic-shipwreck-revealed-complete-mosaic-images/%</td> <td class=\"cell-2\" style=\"text-align:right;\">17,485</td> <td class=\"cell-3\" style=\"text-align:right;\">91</td> <td class=\"cell-4\" style=\"text-align:right;\">1,105,632</td> <td class=\"cell-5\" style=\"text-align:right;\">2,550</td></tr>\n<tr><td class=\"cell-1\" style=\"\">/www.nationalgeographic.com/%</td> <td class=\"cell-2\" style=\"text-align:right;\">14,263</td> <td class=\"cell-3\" style=\"text-align:right;\">90</td> <td class=\"cell-4\" style=\"text-align:right;\">1,027,266</td> <td class=\"cell-5\" style=\"text-align:right;\">47,805</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">/news.nationalgeographic.com/2015/09/150909-queen-elizabeth-monarchy-record-pictures-photos-england/%</td> <td class=\"cell-2\" style=\"text-align:right;\">15,958</td> <td class=\"cell-3\" style=\"text-align:right;\">87</td> <td class=\"cell-4\" style=\"text-align:right;\">1,016,910</td> <td class=\"cell-5\" style=\"text-align:right;\">3,298</td></tr>\n<tr><td class=\"cell-1\" style=\"\">/news.nationalgeographic.com/2017/08/yeti-abominable-snowman-bear-daniel-taylor/%</td> <td class=\"cell-2\" style=\"text-align:right;\">15,802</td> <td class=\"cell-3\" style=\"text-align:right;\">86</td> <td class=\"cell-4\" style=\"text-align:right;\">1,006,098</td> <td class=\"cell-5\" style=\"text-align:right;\">22,705</td></tr>\n<tr><td class=\"cell-1\" style=\"\">/www.nationalgeographic.com/magazine/2017/09/explore-health-rorschach-psychology-test/%</td> <td class=\"cell-2\" style=\"text-align:right;\">17,611</td> <td class=\"cell-3\" style=\"text-align:right;\">86</td> <td class=\"cell-4\" style=\"text-align:right;\">981,504</td> <td class=\"cell-5\" style=\"text-align:right;\">12,839</td></tr>\n<tr><td class=\"cell-1\" style=\"\">/news.nationalgeographic.com/2017/07/dogs-breeds-pets-wolves-evolution/%</td> <td class=\"cell-2\" style=\"text-align:right;\">11,883</td> <td class=\"cell-3\" style=\"text-align:right;\">84</td> <td class=\"cell-4\" style=\"text-align:right;\">955,455</td> <td class=\"cell-5\" style=\"text-align:right;\">10,029</td></tr>\n    </tbody>\n")