## Tables and Data Source setup

In [1]:
using ODBC
using DataFrames
using DSWB
using Formatting
using URIParser
using JSON

dsn = "dswb-natgeo" # Redshift esetTable(tableRt, tableType = "RESOURCE_TABLE")ndpoint
table = "beacons_4744" # beacon table name
tableRt = "beacons_4744_rt"

# Connect to Beacon Data
setRedshiftEndpoint(dsn)
setTable(table)
setTable(tableRt, tableType = "RESOURCE_TABLE")
;

Redshift endpoint set: 2017-11-21T21:07:09

In [2]:
# Time & Structures First
include("../../Lib/Include-Package-v2.1.jl")
;

In [3]:
#TV = timeVariables(2017,5,9,16,0,2017,5,9,16,59)
#TV = weeklyTimeVariables(days=7)
TV = yesterdayTimeVariables()
;

November 20, 2017 06:59:00 to November 20, 2017 16:59:00 Local Time
November 20, 2017 11:59:00 to November 20, 2017 21:59:00 UTC Time

In [4]:
# This is the Android OS Mobile Only, Time Based report

UP = UrlParamsInit()
UP.agentOs = "Android OS"
UP.beaconTable = table
UP.btView = "$(table)_spike_pview_prod" #localtable
UP.deviceType = "mobile"
UP.limitRows = 10
#UP.limitRows = 250
UP.orderBy = "time"
UP.pageGroup = "News Article"   #productPageGroup
UP.resourceTable = tableRt
UP.rtView = "$(tableRt)_spike_pview_prod" #localtableRt
UP.samplesMin = 10
UP.sizeMin = 10000
UP.timeLowerMs = 2000.0
UP.timeUpperMs = 60000.0
UP.urlRegEx = "%"   #localUrl
UP.urlFull = "%"
UP.usePageLoad=false

SP = ShowParamsInit()
SP.desktop=false
SP.mobile=true
SP.devView=false
SP.criticalPathOnly=true
SP.debug=false
SP.debugLevel = 0   # Tests use even numbers with > tests, make this an odd number or zero

SG = SoastaGraphsInit()
customer = "Nat Geo" 
SG.customer = customer

type LocalVars
    useJson::Bool
end

LV = LocalVars(false) #useJSon = false
;

In [7]:
individualStreamlineWorkFlow(TV,UP,SP)
;

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">Recent Urls (Sorted By Time Descending; Min Samples  10 ; Top  10  Page Views)</th> <th class=\"cell-2\" style=\"\">Time</th> <th class=\"cell-3\" style=\"\">Request Made</th> <th class=\"cell-4\" style=\"\">Page Size</th> <th class=\"cell-5\" style=\"\">Samples</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">/news.nationalgeographic.com/2017/08/yeti-abominable-snowman-bear-daniel-taylor/%</td> <td class=\"cell-2\" style=\"text-align:right;\">21,656</td> <td class=\"cell-3\" style=\"text-align:right;\">90</td> <td class=\"cell-4\" style=\"text-align:right;\">1,006,098</td> <td class=\"cell-5\" style=\"text-align:right;\">13,281</td></tr>\n<tr><td class=\"cell-1\" style=\"\">/news.nationalgeographic.com/2017/08/cardinal-feeding-goldfish-instincts-parents/%</td> <td class=\"cell-2\" style=\"text-align:right;\">21,390</td> <td class=\"cell-3\" style=\"text-align:right;\">91</td> <td class=\"cell-4\" style=\"text-align:right;\">897,324</td> <td class=\"cell-5\" style=\"text-align:right;\">389</td></tr>\n<tr><td class=\"cell-1\" style=\"\">/news.nationalgeographic.com/2015/09/150909-queen-elizabeth-monarchy-record-pictures-photos-england/%</td> <td class=\"cell-2\" style=\"text-align:right;\">21,076</td> <td class=\"cell-3\" style=\"text-align:right;\">89</td> <td class=\"cell-4\" style=\"text-align:right;\">1,016,910</td> <td class=\"cell-5\" style=\"text-align:right;\">1,936</td></tr>\n<tr><td class=\"cell-1\" style=\"\">/news.nationalgeographic.com/2017/11/ancient-fossil-forest-found-antarctica-gondwana-spd/%</td> <td class=\"cell-2\" style=\"text-align:right;\">20,468</td> <td class=\"cell-3\" style=\"text-align:right;\">108</td> <td class=\"cell-4\" style=\"text-align:right;\">890,489</td> <td class=\"cell-5\" style=\"text-align:right;\">249</td></tr>\n<tr><td class=\"cell-1\" style=\"\">/news.nationalgeographic.com/2017/11/wildlife-watch-trump-trophy-hunting-ban-tweet-elephants0/%</td> <td class=\"cell-2\" style=\"text-align:right;\">18,753</td> <td class=\"cell-3\" style=\"text-align:right;\">95</td> <td class=\"cell-4\" style=\"text-align:right;\">970,224</td> <td class=\"cell-5\" style=\"text-align:right;\">243</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">/news.nationalgeographic.com/2017/11/turkeys-holidays-animals-thanksgiving-nation/%</td> <td class=\"cell-2\" style=\"text-align:right;\">18,196</td> <td class=\"cell-3\" style=\"text-align:right;\">86</td> <td class=\"cell-4\" style=\"text-align:right;\">921,964</td> <td class=\"cell-5\" style=\"text-align:right;\">252</td></tr>\n<tr><td class=\"cell-1\" style=\"\">/news.nationalgeographic.com/2017/11/climate-change-sea-level-water-will-come-jeff-goodell/%</td> <td class=\"cell-2\" style=\"text-align:right;\">16,436</td> <td class=\"cell-3\" style=\"text-align:right;\">81</td> <td class=\"cell-4\" style=\"text-align:right;\">937,627</td> <td class=\"cell-5\" style=\"text-align:right;\">215</td></tr>\n<tr><td class=\"cell-1\" style=\"\">/news.nationalgeographic.com/2017/11/greek-sealstone-gemstone-combat-griffin-warrior-tomb-spd/%</td> <td class=\"cell-2\" style=\"text-align:right;\">13,156</td> <td class=\"cell-3\" style=\"text-align:right;\">83</td> <td class=\"cell-4\" style=\"text-align:right;\">916,865</td> <td class=\"cell-5\" style=\"text-align:right;\">201</td></tr>\n<tr><td class=\"cell-1\" style=\"\">/news.nationalgeographic.com/2017/07/dogs-breeds-pets-wolves-evolution/%</td> <td class=\"cell-2\" style=\"text-align:right;\">13,115</td> <td class=\"cell-3\" style=\"text-align:right;\">85</td> <td class=\"cell-4\" style=\"text-align:right;\">955,455</td> <td class=\"cell-5\" style=\"text-align:right;\">7,847</td></tr>\n<tr><td class=\"cell-1\" style=\"\">/news.nationalgeographic.com/2017/11/mega-projects-fail-infrastructure-energy-dams-nuclear/%</td> <td class=\"cell-2\" style=\"text-align:right;\">12,338</td> <td class=\"cell-3\" style=\"text-align:right;\">76</td> <td class=\"cell-4\" style=\"text-align:right;\">868,838</td> <td class=\"cell-5\" style=\"text-align:right;\">709</td></tr>\n    </tbody>\n")