## Tables and Data Source setup

In [1]:
using ODBC
using DataFrames
using DSWB
using Formatting
using URIParser
using JSON

dsn = "dswb-natgeo" # Redshift esetTable(tableRt, tableType = "RESOURCE_TABLE")ndpoint
table = "beacons_4744" # beacon table name
tableRt = "beacons_4744_rt"

# Connect to Beacon Data
setRedshiftEndpoint(dsn)
setTable(table)
setTable(tableRt, tableType = "RESOURCE_TABLE")
;

Redshift endpoint set: 2017-11-21T21:18:47

In [2]:
# Time & Structures First
include("../../Lib/Include-Package-v2.1.jl")
;

In [3]:
#TV = timeVariables(2017,5,9,16,0,2017,5,9,16,59)
#TV = weeklyTimeVariables(days=7)
TV = yesterdayTimeVariables()
;

November 20, 2017 06:59:00 to November 20, 2017 16:59:00 Local Time
November 20, 2017 11:59:00 to November 20, 2017 21:59:00 UTC Time

In [4]:
# This is the Desktop Only, Time based report

UP = UrlParamsInit("Part_5_Weekly")
UP.agentOs = "%"
UP.deviceType = "desktop"
UP.limitRows = 10
#UP.limitRows = 250
UP.orderBy = "time"
UP.pageGroup = "%"   #productPageGroup
UP.samplesMin = 10
UP.sizeMin = 10000
UP.timeLowerMs = 2000.0
UP.timeUpperMs = 60000.0
UP.urlRegEx = "%"   #localUrl
UP.urlFull = "%"
UP.usePageLoad=false
UrlParamsValidate(UP)

SP = ShowParamsInit()
SP.desktop=true
SP.mobile=false
SP.devView=false
SP.criticalPathOnly=true
SP.debugLevel = 0   # Tests use even numbers with > tests, make this an odd number or zero
ShowParamsValidate(SP)

type LocalVars
    useJson::Bool
end

LV = LocalVars(false) #useJSon = false
;

In [6]:
individualStreamlineWorkflow(TV,UP,SP)
;

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">Recent Urls (Sorted By Time Descending; Min Samples  10 ; Top  10  Page Views)</th> <th class=\"cell-2\" style=\"\">Time</th> <th class=\"cell-3\" style=\"\">Request Made</th> <th class=\"cell-4\" style=\"\">Page Size</th> <th class=\"cell-5\" style=\"\">Samples</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">/www.nationalgeographic.com/magazine/2017/09/explore-health-rorschach-psychology-test/%</td> <td class=\"cell-2\" style=\"text-align:right;\">7,756</td> <td class=\"cell-3\" style=\"text-align:right;\">70</td> <td class=\"cell-4\" style=\"text-align:right;\">831,948</td> <td class=\"cell-5\" style=\"text-align:right;\">3,230</td></tr>\n<tr><td class=\"cell-1\" style=\"\">/news.nationalgeographic.com/2017/08/yeti-abominable-snowman-bear-daniel-taylor/%</td> <td class=\"cell-2\" style=\"text-align:right;\">7,498</td> <td class=\"cell-3\" style=\"text-align:right;\">72</td> <td class=\"cell-4\" style=\"text-align:right;\">893,272</td> <td class=\"cell-5\" style=\"text-align:right;\">4,279</td></tr>\n<tr><td class=\"cell-1\" style=\"\">/www.nationalgeographic.com/%</td> <td class=\"cell-2\" style=\"text-align:right;\">6,829</td> <td class=\"cell-3\" style=\"text-align:right;\">87</td> <td class=\"cell-4\" style=\"text-align:right;\">1,122,134</td> <td class=\"cell-5\" style=\"text-align:right;\">72,694</td></tr>\n<tr><td class=\"cell-1\" style=\"\">/kids.nationalgeographic.com/explore/history/first-thanksgiving/%</td> <td class=\"cell-2\" style=\"text-align:right;\">5,498</td> <td class=\"cell-3\" style=\"text-align:right;\">29</td> <td class=\"cell-4\" style=\"text-align:right;\">326,279</td> <td class=\"cell-5\" style=\"text-align:right;\">3,233</td></tr>\n<tr><td class=\"cell-1\" style=\"\">/news.nationalgeographic.com/2017/07/dogs-breeds-pets-wolves-evolution/%</td> <td class=\"cell-2\" style=\"text-align:right;\">5,367</td> <td class=\"cell-3\" style=\"text-align:right;\">68</td> <td class=\"cell-4\" style=\"text-align:right;\">854,577</td> <td class=\"cell-5\" style=\"text-align:right;\">3,475</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">/kids.nationalgeographic.com/%</td> <td class=\"cell-2\" style=\"text-align:right;\">5,247</td> <td class=\"cell-3\" style=\"text-align:right;\">42</td> <td class=\"cell-4\" style=\"text-align:right;\">523,514</td> <td class=\"cell-5\" style=\"text-align:right;\">26,711</td></tr>\n<tr><td class=\"cell-1\" style=\"\">/kids.nationalgeographic.com/animals/%</td> <td class=\"cell-2\" style=\"text-align:right;\">4,959</td> <td class=\"cell-3\" style=\"text-align:right;\">35</td> <td class=\"cell-4\" style=\"text-align:right;\">344,703</td> <td class=\"cell-5\" style=\"text-align:right;\">6,668</td></tr>\n<tr><td class=\"cell-1\" style=\"\">/kids.nationalgeographic.com/games/%</td> <td class=\"cell-2\" style=\"text-align:right;\">4,783</td> <td class=\"cell-3\" style=\"text-align:right;\">41</td> <td class=\"cell-4\" style=\"text-align:right;\">648,579</td> <td class=\"cell-5\" style=\"text-align:right;\">4,361</td></tr>\n<tr><td class=\"cell-1\" style=\"\">/members.nationalgeographic.com/inbox/%</td> <td class=\"cell-2\" style=\"text-align:right;\">4,462</td> <td class=\"cell-3\" style=\"text-align:right;\">85</td> <td class=\"cell-4\" style=\"text-align:right;\">34,262</td> <td class=\"cell-5\" style=\"text-align:right;\">4,893</td></tr>\n<tr><td class=\"cell-1\" style=\"\">/kids.nationalgeographic.com/search-results/%</td> <td class=\"cell-2\" style=\"text-align:right;\">3,340</td> <td class=\"cell-3\" style=\"text-align:right;\">108</td> <td class=\"cell-4\" style=\"text-align:right;\">812,582</td> <td class=\"cell-5\" style=\"text-align:right;\">539</td></tr>\n    </tbody>\n")