## Tables and Data Source setup

In [ ]:
using ODBC
using DataFrames
using DSWB
using Formatting

dsn = "dswb-natgeo" # Redshift endpoint
table = "beacons_4744" # beacon table name
tableRt = "beacons_4744_rt"

# Connect to Beacon Data
setRedshiftEndpoint(dsn)
setTable(table)
# setTable(tableRt, tableType = "RESOURCE_TABLE")

In [ ]:
# Packages
include("../Lib/Include-Package-v2.0.jl")
include("Find-A-Page-View-Spike-Body-v2.0.jl")

#timeVariables(2017,7,15,23,59,2017,7,16,23,59)
weeklyTimeVariables(days=7)
#yesterdayTimeVariables()
;

In [ ]:
UP = UrlParamsInit()
UP.beaconTable = table   #table
UP.resourceTable = tableRt
UP.btView = "$(table)_spike_pview_prod" #localtable
UP.rtView = "$(tableRt)_spike_pview_prod" #localtableRt
UP.pageGroup = "Your Shot"   #productPageGroup
UP.urlRegEx = "%"   #localUrl
UP.deviceType = "%"

SG = SoastaGraphsInit()
customer = "Nat Geo" 
SG.customer = customer
;

In [4]:
firstAndLastFAPVSB(tv,UP)

1x2 DataFrames.DataFrame
│ Row │ First Beacon        │ Last Beacon         │
┝━━━━━┿━━━━━━━━━━━━━━━━━━━━━┿━━━━━━━━━━━━━━━━━━━━━┥
│ 1   │ 2017-09-13T03:59:00 │ 2017-09-13T23:59:59 │

In [5]:
sessionsBeaconsFAPVSB(tv,UP)

In [6]:
loadTimeFAPVSB(tv,UP)

In [7]:
topUrlsFAPVSB(tv,UP)

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">Views</th> <th class=\"cell-2\" style=\"\">Url - With Grouping After Parameters Dropped</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">6,049</td> <td class=\"cell-2\" style=\"\">http://yourshot.nationalgeographic.com</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">4,011</td> <td class=\"cell-2\" style=\"\">http://yourshot.nationalgeographic.com/photos</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">3,408</td> <td class=\"cell-2\" style=\"\">http://m.yourshot.nationalgeographic.com</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">2,981</td> <td class=\"cell-2\" style=\"\">http://yourshot.nationalgeographic.com/daily-dozen</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">2,332</td> <td class=\"cell-2\" style=\"\">http://yourshot.nationalgeographic.com/assignments/quiet-moments</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,732</td> <td class=\"cell-2\" style=\"\">http://yourshot.nationalgeographic.com/assignments-stories</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,724</td> <td class=\"cell-2\" style=\"\">http://photography.nationalgeographic.com/nature-photographer-of-the-year-2017</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,284</td> <td class=\"cell-2\" style=\"\">http://m.yourshot.nationalgeographic.com/photos</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">1,191</td> <td class=\"cell-2\" style=\"\">http://yourshot.nationalgeographic.com/search</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,088</td> <td class=\"cell-2\" style=\"\">http://m.yourshot.nationalgeographic.com/daily-dozen</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">720</td> <td class=\"cell-2\" style=\"\">http://m.yourshot.nationalgeographic.com/upload</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">623</td> <td class=\"cell-2\" style=\"\">http://m.yourshot.nationalgeographic.com/assignments-stories</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">538</td> <td class=\"cell-2\" style=\"\">http://photography.nationalgeographic.com/nature-photographer-of-the-year-2017/all-entries</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">462</td> <td class=\"cell-2\" style=\"\">http://m.yourshot.nationalgeographic.com/assignments/quiet-moments</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">462</td> <td class=\"cell-2\" style=\"\">http://photography.nationalgeographic.com/nature-photographer-of-the-year-2017/enter</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">Views</th> <th class=\"cell-2\" style=\"\">Avg MB</th> <th class=\"cell-3\" style=\"\">Avg MS</th> <th class=\"cell-4\" style=\"\">Url - Individual</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">5,715</td> <td class=\"cell-2\" style=\"text-align:right;\">258,289</td> <td class=\"cell-3\" style=\"text-align:right;\">8,408</td> <td class=\"cell-4\" style=\"\">http://yourshot.nationalgeographic.com/</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">4,007</td> <td class=\"cell-2\" style=\"text-align:right;\">254,342</td> <td class=\"cell-3\" style=\"text-align:right;\">8,858</td> <td class=\"cell-4\" style=\"\">http://yourshot.nationalgeographic.com/photos/</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">2,974</td> <td class=\"cell-2\" style=\"text-align:right;\">240,851</td> <td class=\"cell-3\" style=\"text-align:right;\">7,798</td> <td class=\"cell-4\" style=\"\">http://m.yourshot.nationalgeographic.com/</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">2,853</td> <td class=\"cell-2\" style=\"text-align:right;\">261,732</td> <td class=\"cell-3\" style=\"text-align:right;\">8,989</td> <td class=\"cell-4\" style=\"\">http://yourshot.nationalgeographic.com/daily-dozen/</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">2,314</td> <td class=\"cell-2\" style=\"text-align:right;\">409,358</td> <td class=\"cell-3\" style=\"text-align:right;\">11,976</td> <td class=\"cell-4\" style=\"\">http://yourshot.nationalgeographic.com/assignments/quiet-moments/</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,732</td> <td class=\"cell-2\" style=\"text-align:right;\">396,565</td> <td class=\"cell-3\" style=\"text-align:right;\">8,988</td> <td class=\"cell-4\" style=\"\">http://yourshot.nationalgeographic.com/assignments-stories/</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,271</td> <td class=\"cell-2\" style=\"text-align:right;\">260,333</td> <td class=\"cell-3\" style=\"text-align:right;\">6,307</td> <td class=\"cell-4\" style=\"\">http://m.yourshot.nationalgeographic.com/photos/</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">770</td> <td class=\"cell-2\" style=\"text-align:right;\">387,439</td> <td class=\"cell-3\" style=\"text-align:right;\">9,626</td> <td class=\"cell-4\" style=\"\">http://m.yourshot.nationalgeographic.com/daily-dozen/</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">720</td> <td class=\"cell-2\" style=\"text-align:right;\">252,637</td> <td class=\"cell-3\" style=\"text-align:right;\">7,785</td> <td class=\"cell-4\" style=\"\">http://m.yourshot.nationalgeographic.com/upload/</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">623</td> <td class=\"cell-2\" style=\"text-align:right;\">261,663</td> <td class=\"cell-3\" style=\"text-align:right;\">6,731</td> <td class=\"cell-4\" style=\"\">http://m.yourshot.nationalgeographic.com/assignments-stories/</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">592</td> <td class=\"cell-2\" style=\"text-align:right;\">155,151</td> <td class=\"cell-3\" style=\"text-align:right;\">7,868</td> <td class=\"cell-4\" style=\"\">http://photography.nationalgeographic.com/nature-photographer-of-the-year-2017/?sitenav</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">553</td> <td class=\"cell-2\" style=\"text-align:right;\">156,391</td> <td class=\"cell-3\" style=\"text-align:right;\">9,822</td> <td class=\"cell-4\" style=\"\">http://photography.nationalgeographic.com/nature-photographer-of-the-year-2017/?utm_source=Facebook</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">474</td> <td class=\"cell-2\" style=\"text-align:right;\">169,807</td> <td class=\"cell-3\" style=\"text-align:right;\">10,249</td> <td class=\"cell-4\" style=\"\">http://photography.nationalgeographic.com/nature-photographer-of-the-year-2017/all-entries/?utm_source=Facebook</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">462</td> <td class=\"cell-2\" style=\"text-align:right;\">145,576</td> <td class=\"cell-3\" style=\"text-align:right;\">5,488</td> <td class=\"cell-4\" style=\"\">http://photography.nationalgeographic.com/nature-photographer-of-the-year-2017/enter</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">459</td> <td class=\"cell-2\" style=\"text-align:right;\">388,868</td> <td class=\"cell-3\" style=\"text-align:right;\">10,522</td> <td class=\"cell-4\" style=\"\">http://m.yourshot.nationalgeographic.com/assignments/quiet-moments/</td></tr>\n    </tbody>\n")

In [8]:
peakTableFAPVSB(TV,UP,SP)

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\"></th> <th class=\"cell-2\" style=\"\">Date</th> <th class=\"cell-3\" style=\"\">Page Views</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">7 Day Peak Day</td> <td class=\"cell-2\" style=\"\">2017-09-13T00:00:00</td> <td class=\"cell-3\" style=\"text-align:right;\">137,190</td></tr>\n<tr><td class=\"cell-1\" style=\"\">7 Day Peak Hour</td> <td class=\"cell-2\" style=\"\">2017-09-13T17:00:00</td> <td class=\"cell-3\" style=\"text-align:right;\">8,799</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">7 Day Peak Minute</td> <td class=\"cell-2\" style=\"\">2017-09-13T17:38:00</td> <td class=\"cell-3\" style=\"text-align:right;\">195</td></tr>\n    </tbody>\n")

In [9]:
statsTableFAPVSB(tv,UP)

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">unit</th> <th class=\"cell-2\" style=\"\">count</th> <th class=\"cell-3\" style=\"\">mean</th> <th class=\"cell-4\" style=\"\">median</th> <th class=\"cell-5\" style=\"\">stddev</th> <th class=\"cell-6\" style=\"\">min</th> <th class=\"cell-7\" style=\"\">max</th> <th class=\"cell-8\" style=\"\">LowerBy25p</th> <th class=\"cell-9\" style=\"\">UpperBy25p</th> <th class=\"cell-10\" style=\"\">LowerBy3Stddev</th> <th class=\"cell-11\" style=\"\">UpperBy3Stddev</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">milliseconds</td> <td class=\"cell-2\" style=\"text-align:right;\">137,190</td> <td class=\"cell-3\" style=\"text-align:right;\">8,574</td> <td class=\"cell-4\" style=\"text-align:right;\">4,542</td> <td class=\"cell-5\" style=\"text-align:right;\">19,084</td> <td class=\"cell-6\" style=\"text-align:right;\">1,000</td> <td class=\"cell-7\" style=\"text-align:right;\">594,920</td> <td class=\"cell-8\" style=\"text-align:right;\">3,406</td> <td class=\"cell-9\" style=\"text-align:right;\">5,678</td> <td class=\"cell-10\" style=\"text-align:right;\">1,000</td> <td class=\"cell-11\" style=\"text-align:right;\">61,794</td></tr>\n<tr><td class=\"cell-1\" style=\"\">seconds</td> <td class=\"cell-2\" style=\"text-align:right;\">137,190</td> <td class=\"cell-3\" style=\"text-align:right;\">8.574</td> <td class=\"cell-4\" style=\"text-align:right;\">4.542</td> <td class=\"cell-5\" style=\"text-align:right;\">19.084</td> <td class=\"cell-6\" style=\"text-align:right;\">1</td> <td class=\"cell-7\" style=\"text-align:right;\">594.92</td> <td class=\"cell-8\" style=\"text-align:right;\">3.406</td> <td class=\"cell-9\" style=\"text-align:right;\">5.678</td> <td class=\"cell-10\" style=\"text-align:right;\">1</td> <td class=\"cell-11\" style=\"text-align:right;\">61.794</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">minutes</td> <td class=\"cell-2\" style=\"text-align:right;\">137,190</td> <td class=\"cell-3\" style=\"text-align:right;\">0.1</td> <td class=\"cell-4\" style=\"text-align:right;\">0.1</td> <td class=\"cell-5\" style=\"text-align:right;\">0.3</td> <td class=\"cell-6\" style=\"text-align:right;\">0</td> <td class=\"cell-7\" style=\"text-align:right;\">9.9</td> <td class=\"cell-8\" style=\"text-align:right;\">0.1</td> <td class=\"cell-9\" style=\"text-align:right;\">0.1</td> <td class=\"cell-10\" style=\"text-align:right;\">0</td> <td class=\"cell-11\" style=\"text-align:right;\">1</td></tr>\n    </tbody>\n")

In [10]:
q = query(""" drop view if exists $(UP.btView);""")
q = query(""" drop view if exists $(UP.rtView);""")
;