## Tables and Data Source setup

In [1]:
using ODBC
using DataFrames
using DSWB
using Formatting

dsn = "dswb-natgeo" # Redshift endpoint
table = "beacons_4744" # beacon table name
tableRt = "beacons_4744_rt"

# Connect to Beacon Data
setRedshiftEndpoint(dsn)
setTable(table)
# setTable(tableRt, tableType = "RESOURCE_TABLE")
;

Redshift endpoint set: 2017-11-29T15:40:30

"beacons_4744"

In [2]:
include("../../Lib/Include-Package-v2.1.jl")
;

In [3]:
#TV = timeVariables(2017,11,15,23,59,2017,11,16,23,59)
#TV = weeklyTimeVariables(days=7)
TV = yesterdayTimeVariables()
;

November 28, 2017 06:59:00 to November 28, 2017 16:59:00 Local Time
November 28, 2017 11:59:00 to November 28, 2017 21:59:00 UTC Time

In [4]:
UP = UrlParamsInit("Find_A_Page_Spike")
UP.agentOs = "%"
UP.deviceType = "%"
UP.limitRows = 250
UP.orderBy = "time"
UP.pageGroup = "Your Shot"   #productPageGroup
UP.samplesMin = 10
UP.sizeMin = 10000
UP.timeLowerMs = 2000.0
UP.timeUpperMs = 60000.0
UP.urlRegEx = "%"   #localUrl
UP.urlFull = "%"
UP.usePageLoad=false
UrlParamsValidate(UP)

SP = ShowParamsInit()
SP.criticalPathOnly=true
SP.desktop=true
SP.devView=false
SP.debug=false
SP.debugLevel = 0   # Tests use even numbers with > tests, make this an odd number or zero
SP.mobile=true
ShowParamsValidate(SP)

;

In [5]:
findAPageViewSpikeWorkflow(TV,UP,SP)

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">Views</th> <th class=\"cell-2\" style=\"\">Url - With Grouping After Parameters Dropped</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">3,245</td> <td class=\"cell-2\" style=\"\">http://yourshot.nationalgeographic.com</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,690</td> <td class=\"cell-2\" style=\"\">http://yourshot.nationalgeographic.com/daily-dozen</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,586</td> <td class=\"cell-2\" style=\"\">http://yourshot.nationalgeographic.com/photos</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,194</td> <td class=\"cell-2\" style=\"\">http://m.yourshot.nationalgeographic.com</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">899</td> <td class=\"cell-2\" style=\"\">http://yourshot.nationalgeographic.com/assignments-stories</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">849</td> <td class=\"cell-2\" style=\"\">http://yourshot.nationalgeographic.com/search</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">831</td> <td class=\"cell-2\" style=\"\">http://yourshot.nationalgeographic.com/assignments/exploring-time</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">750</td> <td class=\"cell-2\" style=\"\">http://photography.nationalgeographic.com/nature-photographer-of-the-year-2017</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">653</td> <td class=\"cell-2\" style=\"\">http://yourshot.nationalgeographic.com/assignments/quest-happiness</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">442</td> <td class=\"cell-2\" style=\"\">http://m.yourshot.nationalgeographic.com/photos</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">391</td> <td class=\"cell-2\" style=\"\">http://m.yourshot.nationalgeographic.com/daily-dozen</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">333</td> <td class=\"cell-2\" style=\"\">http://m.yourshot.nationalgeographic.com/upload</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">324</td> <td class=\"cell-2\" style=\"\">https://members.nationalgeographic.com/account</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">217</td> <td class=\"cell-2\" style=\"\">http://m.yourshot.nationalgeographic.com/assignments-stories</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">180</td> <td class=\"cell-2\" style=\"\">http://yourshot.nationalgeographic.com/profile/1189305</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">Views</th> <th class=\"cell-2\" style=\"\">Avg MB</th> <th class=\"cell-3\" style=\"\">Avg MS</th> <th class=\"cell-4\" style=\"\">Url - Individual</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">2,927</td> <td class=\"cell-2\" style=\"text-align:right;\">268,762</td> <td class=\"cell-3\" style=\"text-align:right;\">7,200</td> <td class=\"cell-4\" style=\"\">http://yourshot.nationalgeographic.com/</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,608</td> <td class=\"cell-2\" style=\"text-align:right;\">267,363</td> <td class=\"cell-3\" style=\"text-align:right;\">7,594</td> <td class=\"cell-4\" style=\"\">http://yourshot.nationalgeographic.com/daily-dozen/</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,560</td> <td class=\"cell-2\" style=\"text-align:right;\">268,164</td> <td class=\"cell-3\" style=\"text-align:right;\">8,212</td> <td class=\"cell-4\" style=\"\">http://yourshot.nationalgeographic.com/photos/</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,042</td> <td class=\"cell-2\" style=\"text-align:right;\">265,479</td> <td class=\"cell-3\" style=\"text-align:right;\">8,590</td> <td class=\"cell-4\" style=\"\">http://m.yourshot.nationalgeographic.com/</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">888</td> <td class=\"cell-2\" style=\"text-align:right;\">408,634</td> <td class=\"cell-3\" style=\"text-align:right;\">8,479</td> <td class=\"cell-4\" style=\"\">http://yourshot.nationalgeographic.com/assignments-stories/</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">812</td> <td class=\"cell-2\" style=\"text-align:right;\">425,566</td> <td class=\"cell-3\" style=\"text-align:right;\">8,993</td> <td class=\"cell-4\" style=\"\">http://yourshot.nationalgeographic.com/assignments/exploring-time/</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">638</td> <td class=\"cell-2\" style=\"text-align:right;\">421,811</td> <td class=\"cell-3\" style=\"text-align:right;\">10,349</td> <td class=\"cell-4\" style=\"\">http://yourshot.nationalgeographic.com/assignments/quest-happiness/</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">436</td> <td class=\"cell-2\" style=\"text-align:right;\">279,915</td> <td class=\"cell-3\" style=\"text-align:right;\">7,752</td> <td class=\"cell-4\" style=\"\">http://m.yourshot.nationalgeographic.com/photos/</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">333</td> <td class=\"cell-2\" style=\"text-align:right;\">278,047</td> <td class=\"cell-3\" style=\"text-align:right;\">8,121</td> <td class=\"cell-4\" style=\"\">http://m.yourshot.nationalgeographic.com/upload/</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">276</td> <td class=\"cell-2\" style=\"text-align:right;\">405,377</td> <td class=\"cell-3\" style=\"text-align:right;\">10,198</td> <td class=\"cell-4\" style=\"\">http://m.yourshot.nationalgeographic.com/daily-dozen/</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">266</td> <td class=\"cell-2\" style=\"text-align:right;\">161,197</td> <td class=\"cell-3\" style=\"text-align:right;\">8,944</td> <td class=\"cell-4\" style=\"\">http://photography.nationalgeographic.com/nature-photographer-of-the-year-2017/</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">217</td> <td class=\"cell-2\" style=\"text-align:right;\">281,918</td> <td class=\"cell-3\" style=\"text-align:right;\">7,939</td> <td class=\"cell-4\" style=\"\">http://m.yourshot.nationalgeographic.com/assignments-stories/</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">148</td> <td class=\"cell-2\" style=\"text-align:right;\">162,879</td> <td class=\"cell-3\" style=\"text-align:right;\">7,042</td> <td class=\"cell-4\" style=\"\">http://photography.nationalgeographic.com/nature-photographer-of-the-year-2017/gallery/week-10-all/1</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">141</td> <td class=\"cell-2\" style=\"text-align:right;\">271,519</td> <td class=\"cell-3\" style=\"text-align:right;\">7,653</td> <td class=\"cell-4\" style=\"\">http://yourshot.nationalgeographic.com/categories/animals/</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">119</td> <td class=\"cell-2\" style=\"text-align:right;\">175,117</td> <td class=\"cell-3\" style=\"text-align:right;\">3,928</td> <td class=\"cell-4\" style=\"\">http://photography.nationalgeographic.com/nature-photographer-of-the-year-2016/gallery/week-7-all/1</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\"></th> <th class=\"cell-2\" style=\"\">Date</th> <th class=\"cell-3\" style=\"\">Page Views</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">7 Day Peak Day</td> <td class=\"cell-2\" style=\"\">2017-11-28T00:00:00</td> <td class=\"cell-3\" style=\"text-align:right;\">72,840</td></tr>\n<tr><td class=\"cell-1\" style=\"\">7 Day Peak Hour</td> <td class=\"cell-2\" style=\"\">2017-11-28T15:00:00</td> <td class=\"cell-3\" style=\"text-align:right;\">8,857</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">7 Day Peak Minute</td> <td class=\"cell-2\" style=\"\">2017-11-28T16:04:00</td> <td class=\"cell-3\" style=\"text-align:right;\">195</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">unit</th> <th class=\"cell-2\" style=\"\">count</th> <th class=\"cell-3\" style=\"\">mean</th> <th class=\"cell-4\" style=\"\">median</th> <th class=\"cell-5\" style=\"\">stddev</th> <th class=\"cell-6\" style=\"\">min</th> <th class=\"cell-7\" style=\"\">max</th> <th class=\"cell-8\" style=\"\">LowerBy25p</th> <th class=\"cell-9\" style=\"\">UpperBy25p</th> <th class=\"cell-10\" style=\"\">LowerBy3Stddev</th> <th class=\"cell-11\" style=\"\">UpperBy3Stddev</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">milliseconds</td> <td class=\"cell-2\" style=\"text-align:right;\">72,840</td> <td class=\"cell-3\" style=\"text-align:right;\">7,893</td> <td class=\"cell-4\" style=\"text-align:right;\">5,409</td> <td class=\"cell-5\" style=\"text-align:right;\">7,522</td> <td class=\"cell-6\" style=\"text-align:right;\">2,000</td> <td class=\"cell-7\" style=\"text-align:right;\">59,991</td> <td class=\"cell-8\" style=\"text-align:right;\">4,057</td> <td class=\"cell-9\" style=\"text-align:right;\">6,761</td> <td class=\"cell-10\" style=\"text-align:right;\">1,000</td> <td class=\"cell-11\" style=\"text-align:right;\">27,975</td></tr>\n<tr><td class=\"cell-1\" style=\"\">seconds</td> <td class=\"cell-2\" style=\"text-align:right;\">72,840</td> <td class=\"cell-3\" style=\"text-align:right;\">7.893</td> <td class=\"cell-4\" style=\"text-align:right;\">5.409</td> <td class=\"cell-5\" style=\"text-align:right;\">7.522</td> <td class=\"cell-6\" style=\"text-align:right;\">2</td> <td class=\"cell-7\" style=\"text-align:right;\">59.991</td> <td class=\"cell-8\" style=\"text-align:right;\">4.057</td> <td class=\"cell-9\" style=\"text-align:right;\">6.761</td> <td class=\"cell-10\" style=\"text-align:right;\">1</td> <td class=\"cell-11\" style=\"text-align:right;\">27.975</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">minutes</td> <td class=\"cell-2\" style=\"text-align:right;\">72,840</td> <td class=\"cell-3\" style=\"text-align:right;\">0.1</td> <td class=\"cell-4\" style=\"text-align:right;\">0.1</td> <td class=\"cell-5\" style=\"text-align:right;\">0.1</td> <td class=\"cell-6\" style=\"text-align:right;\">0</td> <td class=\"cell-7\" style=\"text-align:right;\">1</td> <td class=\"cell-8\" style=\"text-align:right;\">0.1</td> <td class=\"cell-9\" style=\"text-align:right;\">0.1</td> <td class=\"cell-10\" style=\"text-align:right;\">0</td> <td class=\"cell-11\" style=\"text-align:right;\">0.5</td></tr>\n    </tbody>\n")

0x0 DataFrames.DataFrame