## Tables and Data Source setup

In [1]:
using ODBC
using DataFrames
using DSWB
using Formatting

dsn = "dswb-natgeo" # Redshift endpoint
table = "beacons_4744" # beacon table name
tableRt = "beacons_4744_rt"

# Connect to Beacon Data
setRedshiftEndpoint(dsn)
setTable(table)
# setTable(tableRt, tableType = "RESOURCE_TABLE")

Redshift endpoint set: 2017-11-27T17:14:34

"beacons_4744"

In [2]:
# Time & Structures First
include("../../Lib/Include-Package-v2.1.jl")
include("Find-A-Page-View-Spike-Body-v2.0.jl")
;

LoadError: could not open file /data/notebook_home/NGP-DSWB-Chris/Rpt/Find-A-Page-View-Spike/Find-A-Page-View-Spike-Body-v2.0.jl

In [3]:
#TV = timeVariables(2017,11,15,23,59,2017,11,16,23,59)
#TV = weeklyTimeVariables(days=7)
TV = yesterdayTimeVariables()
;

November 26, 2017 06:59:00 to November 26, 2017 16:59:00 Local Time
November 26, 2017 11:59:00 to November 26, 2017 21:59:00 UTC Time

In [4]:
UP = UrlParamsInit()
UP.agentOs = "iOS"
UP.beaconTable = table
UP.btView = "$(table)_spike_pview_prod" #localtable
UP.deviceType = "%"
UP.limitRows = 250
UP.orderBy = "time"
UP.pageGroup = "Your Shot"   #productPageGroup
UP.resourceTable = tableRt
UP.rtView = "$(tableRt)_spike_pview_prod" #localtableRt
UP.samplesMin = 10
UP.sizeMin = 10000
UP.timeLowerMs = 2000.0
UP.timeUpperMs = 60000.0
UP.urlRegEx = "%"   #localUrl
UP.urlFull = "%"
UP.usePageLoad=false

SP = ShowParamsInit()
SP.criticalPathOnly=true
SP.desktop=true
SP.devView=false
SP.debug=false
SP.debugLevel = 0   # Tests use even numbers with > tests, make this an odd number or zero
SP.mobile=true

SG = SoastaGraphsInit()
customer = "Nat Geo" 
SG.customer = customer
;

In [5]:
findAPageViewSpikeWorkflow(TV,UP,SP)

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">Views</th> <th class=\"cell-2\" style=\"\">Url - With Grouping After Parameters Dropped</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">4,019</td> <td class=\"cell-2\" style=\"\">http://photography.nationalgeographic.com/nature-photographer-of-the-year-2017/gallery/week-10-aerials/1</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">2,545</td> <td class=\"cell-2\" style=\"\">http://yourshot.nationalgeographic.com</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,745</td> <td class=\"cell-2\" style=\"\">http://yourshot.nationalgeographic.com/photos</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,129</td> <td class=\"cell-2\" style=\"\">http://m.yourshot.nationalgeographic.com</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">725</td> <td class=\"cell-2\" style=\"\">http://yourshot.nationalgeographic.com/assignments/exploring-time</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">659</td> <td class=\"cell-2\" style=\"\">http://yourshot.nationalgeographic.com/assignments-stories</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">604</td> <td class=\"cell-2\" style=\"\">http://yourshot.nationalgeographic.com/search</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">548</td> <td class=\"cell-2\" style=\"\">http://m.yourshot.nationalgeographic.com/photos</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">509</td> <td class=\"cell-2\" style=\"\">http://yourshot.nationalgeographic.com/daily-dozen</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">483</td> <td class=\"cell-2\" style=\"\">http://yourshot.nationalgeographic.com/assignments/quest-happiness</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">441</td> <td class=\"cell-2\" style=\"\">http://photography.nationalgeographic.com/nature-photographer-of-the-year-2017</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">331</td> <td class=\"cell-2\" style=\"\">https://members.nationalgeographic.com/account</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">324</td> <td class=\"cell-2\" style=\"\">http://m.yourshot.nationalgeographic.com/upload</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">236</td> <td class=\"cell-2\" style=\"\">http://photography.nationalgeographic.com/nature-photographer-of-the-year-2017/gallery/week-10-all/1</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">218</td> <td class=\"cell-2\" style=\"\">http://m.yourshot.nationalgeographic.com/assignments-stories</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">Views</th> <th class=\"cell-2\" style=\"\">Avg MB</th> <th class=\"cell-3\" style=\"\">Avg MS</th> <th class=\"cell-4\" style=\"\">Url - Individual</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"text-align:right;\">3,200</td> <td class=\"cell-2\" style=\"text-align:right;\">169,151</td> <td class=\"cell-3\" style=\"text-align:right;\">11,465</td> <td class=\"cell-4\" style=\"\">http://photography.nationalgeographic.com/nature-photographer-of-the-year-2017/gallery/week-10-aerials/1</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">2,325</td> <td class=\"cell-2\" style=\"text-align:right;\">269,381</td> <td class=\"cell-3\" style=\"text-align:right;\">7,719</td> <td class=\"cell-4\" style=\"\">http://yourshot.nationalgeographic.com/</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">1,715</td> <td class=\"cell-2\" style=\"text-align:right;\">266,151</td> <td class=\"cell-3\" style=\"text-align:right;\">8,131</td> <td class=\"cell-4\" style=\"\">http://yourshot.nationalgeographic.com/photos/</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">995</td> <td class=\"cell-2\" style=\"text-align:right;\">263,750</td> <td class=\"cell-3\" style=\"text-align:right;\">8,160</td> <td class=\"cell-4\" style=\"\">http://m.yourshot.nationalgeographic.com/</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">819</td> <td class=\"cell-2\" style=\"text-align:right;\">156,922</td> <td class=\"cell-3\" style=\"text-align:right;\">9,359</td> <td class=\"cell-4\" style=\"\">http://photography.nationalgeographic.com/nature-photographer-of-the-year-2017/gallery/week-10-aerials/1?utm_source=Face...</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">658</td> <td class=\"cell-2\" style=\"text-align:right;\">442,770</td> <td class=\"cell-3\" style=\"text-align:right;\">9,104</td> <td class=\"cell-4\" style=\"\">http://yourshot.nationalgeographic.com/assignments/exploring-time/</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">649</td> <td class=\"cell-2\" style=\"text-align:right;\">435,761</td> <td class=\"cell-3\" style=\"text-align:right;\">7,968</td> <td class=\"cell-4\" style=\"\">http://yourshot.nationalgeographic.com/assignments-stories/</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">541</td> <td class=\"cell-2\" style=\"text-align:right;\">279,313</td> <td class=\"cell-3\" style=\"text-align:right;\">7,981</td> <td class=\"cell-4\" style=\"\">http://m.yourshot.nationalgeographic.com/photos/</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"text-align:right;\">465</td> <td class=\"cell-2\" style=\"text-align:right;\">272,766</td> <td class=\"cell-3\" style=\"text-align:right;\">6,811</td> <td class=\"cell-4\" style=\"\">http://yourshot.nationalgeographic.com/daily-dozen/</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">460</td> <td class=\"cell-2\" style=\"text-align:right;\">411,574</td> <td class=\"cell-3\" style=\"text-align:right;\">10,278</td> <td class=\"cell-4\" style=\"\">http://yourshot.nationalgeographic.com/assignments/quest-happiness/</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">324</td> <td class=\"cell-2\" style=\"text-align:right;\">281,611</td> <td class=\"cell-3\" style=\"text-align:right;\">7,091</td> <td class=\"cell-4\" style=\"\">http://m.yourshot.nationalgeographic.com/upload/</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">231</td> <td class=\"cell-2\" style=\"text-align:right;\">179,006</td> <td class=\"cell-3\" style=\"text-align:right;\">14,345</td> <td class=\"cell-4\" style=\"\">http://photography.nationalgeographic.com/nature-photographer-of-the-year-2017/gallery/week-10-all/1</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">215</td> <td class=\"cell-2\" style=\"text-align:right;\">284,882</td> <td class=\"cell-3\" style=\"text-align:right;\">7,032</td> <td class=\"cell-4\" style=\"\">http://m.yourshot.nationalgeographic.com/assignments-stories/</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">203</td> <td class=\"cell-2\" style=\"text-align:right;\">165,803</td> <td class=\"cell-3\" style=\"text-align:right;\">9,540</td> <td class=\"cell-4\" style=\"\">http://photography.nationalgeographic.com/nature-photographer-of-the-year-2017/</td></tr>\n<tr><td class=\"cell-1\" style=\"text-align:right;\">183</td> <td class=\"cell-2\" style=\"text-align:right;\">412,520</td> <td class=\"cell-3\" style=\"text-align:right;\">10,998</td> <td class=\"cell-4\" style=\"\">http://m.yourshot.nationalgeographic.com/daily-dozen/</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\"></th> <th class=\"cell-2\" style=\"\">Date</th> <th class=\"cell-3\" style=\"\">Page Views</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">7 Day Peak Day</td> <td class=\"cell-2\" style=\"\">2017-11-26T00:00:00</td> <td class=\"cell-3\" style=\"text-align:right;\">69,738</td></tr>\n<tr><td class=\"cell-1\" style=\"\">7 Day Peak Hour</td> <td class=\"cell-2\" style=\"\">2017-11-26T15:00:00</td> <td class=\"cell-3\" style=\"text-align:right;\">8,398</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">7 Day Peak Minute</td> <td class=\"cell-2\" style=\"\">2017-11-26T15:18:00</td> <td class=\"cell-3\" style=\"text-align:right;\">174</td></tr>\n    </tbody>\n")

HTML{UTF8String}("    <table  class=\"dataframe-table\">\n    <thead><tr><th class=\"cell-1\" style=\"\">unit</th> <th class=\"cell-2\" style=\"\">count</th> <th class=\"cell-3\" style=\"\">mean</th> <th class=\"cell-4\" style=\"\">median</th> <th class=\"cell-5\" style=\"\">stddev</th> <th class=\"cell-6\" style=\"\">min</th> <th class=\"cell-7\" style=\"\">max</th> <th class=\"cell-8\" style=\"\">LowerBy25p</th> <th class=\"cell-9\" style=\"\">UpperBy25p</th> <th class=\"cell-10\" style=\"\">LowerBy3Stddev</th> <th class=\"cell-11\" style=\"\">UpperBy3Stddev</th></tr></thead>\n    <tbody>\n    <tr><td class=\"cell-1\" style=\"\">milliseconds</td> <td class=\"cell-2\" style=\"text-align:right;\">69,738</td> <td class=\"cell-3\" style=\"text-align:right;\">8,107</td> <td class=\"cell-4\" style=\"text-align:right;\">5,646</td> <td class=\"cell-5\" style=\"text-align:right;\">7,520</td> <td class=\"cell-6\" style=\"text-align:right;\">2,000</td> <td class=\"cell-7\" style=\"text-align:right;\">59,974</td> <td class=\"cell-8\" style=\"text-align:right;\">4,234</td> <td class=\"cell-9\" style=\"text-align:right;\">7,058</td> <td class=\"cell-10\" style=\"text-align:right;\">1,000</td> <td class=\"cell-11\" style=\"text-align:right;\">28,206</td></tr>\n<tr><td class=\"cell-1\" style=\"\">seconds</td> <td class=\"cell-2\" style=\"text-align:right;\">69,738</td> <td class=\"cell-3\" style=\"text-align:right;\">8.107</td> <td class=\"cell-4\" style=\"text-align:right;\">5.646</td> <td class=\"cell-5\" style=\"text-align:right;\">7.52</td> <td class=\"cell-6\" style=\"text-align:right;\">2</td> <td class=\"cell-7\" style=\"text-align:right;\">59.974</td> <td class=\"cell-8\" style=\"text-align:right;\">4.234</td> <td class=\"cell-9\" style=\"text-align:right;\">7.058</td> <td class=\"cell-10\" style=\"text-align:right;\">1</td> <td class=\"cell-11\" style=\"text-align:right;\">28.206</td></tr>\n    \n    <tr><td class=\"cell-1\" style=\"\">minutes</td> <td class=\"cell-2\" style=\"text-align:right;\">69,738</td> <td class=\"cell-3\" style=\"text-align:right;\">0.1</td> <td class=\"cell-4\" style=\"text-align:right;\">0.1</td> <td class=\"cell-5\" style=\"text-align:right;\">0.1</td> <td class=\"cell-6\" style=\"text-align:right;\">0</td> <td class=\"cell-7\" style=\"text-align:right;\">1</td> <td class=\"cell-8\" style=\"text-align:right;\">0.1</td> <td class=\"cell-9\" style=\"text-align:right;\">0.1</td> <td class=\"cell-10\" style=\"text-align:right;\">0</td> <td class=\"cell-11\" style=\"text-align:right;\">0.5</td></tr>\n    </tbody>\n")

0x0 DataFrames.DataFrame

In [10]:
q = query(""" drop view if exists $(UP.btView);""")
q = query(""" drop view if exists $(UP.rtView);""")
;